[2019-05-05 19:20] fosspill opened #1 "[Feature] Maintain full Mac, Linux and Windows support with Mono"
Issue will be kept open to track potential platform specific obstacles.

So far I believe this is completely cross-platform, including our dependencies.

[2019-05-05 19:21] fosspill opened #2 "[Feature] Import TTMP files"
Progress for import feature should be kept here.

[2019-05-05 19:23] fosspill opened #3 "[Feature] Storable configuration for important directories"
Currently directories have to be defined manually each time it's ran. Should be configurable.

[2019-05-05 19:23] fosspill opened #4 "[Feature] Backup and restore of important game files"
We need to backup important files.

For now we can leave users with a warning to back up game files before execution.

[2019-05-05 19:24] fosspill opened #5 "[Feature] Import specific textures / models"

[2019-05-05 19:25] fosspill opened #6 "[Feature] Export specific textures / models"

[2019-05-05 19:25] fosspill opened #7 "[Feature] "Check for problems"-function"

[2019-05-05 19:26] fosspill opened #8 "[Feature] ModPack creation MVP"
Support for modpack creation

[2019-05-05 22:08] fosspill commented on #2
The main UI make this seem pretty straight forward:
[MainWindow.xaml.cs#L123](https://github.com/liinko/FFXIV_TexTools_UI/blob/7e3ca65e311f02728af80b1502e6808251d89e91/FFXIV_TexTools/MainWindow.xaml.cs#L123)

[MainWindow.xaml.cs#L357](https://github.com/liinko/FFXIV_TexTools_UI/blob/7e3ca65e311f02728af80b1502e6808251d89e91/FFXIV_TexTools/MainWindow.xaml.cs#L357)

[2019-05-06 09:36] fosspill commented on #3
https://christosmonogios.com/2017/12/02/Manage-Configuration-In-Your-NET-Core-Web-Projects-By-Using-The-IOptions-Interface/ ?

Unsure of how crossplatform this option is, but it seems to be supported with mono.

[2019-05-06 10:06] fosspill commented on #4
I believe the standard xivmoddingframework functionality just copies out important files.

[2019-05-06 10:23] fosspill opened #10 "[Technical Feature] Proper, scalable, commandline options"
We need to quickly land a way we want to do commandline options so we don't have to rewrite that part once we add more functionality.

[2019-05-06 20:17] fosspill commented on #3
https://docs.microsoft.com/en-us/dotnet/api/system.environment.specialfolder?view=netframework-4.8

https://ibboard.co.uk/Programming/mono-special-folders.html

[2019-05-08 15:50] shinnova commented on #2
As of commit bfb9cf4 `bool indexLocked = index.IsIndexLocked(XivDataFile._0A_Exd)` always returns true even when it should not. Bypassing this check for now.
The next error we run into then is that `mono FFXIV_TexTools_CLI.exe modpackimport -g /path/to/FINAL\ FANTASY\ XIV\ -\ A\ Realm\ Reborn/ -m /path/to/modpackdirectory/ -t /path/to/modpackfile.ttmp` returns the following
[code]
and running the

[2019-05-08 17:52] shinnova commented on #2
Turns out that despite the variable in the [TTMP class](https://github.com/liinko/xivModdingFramework/blob/master/xivModdingFramework/Mods/FileTypes/TTMP.cs) being called `modPackDirectory`, it's actually asking for the full .ttmp path, which results in this exception being thrown as the function is expecting a zip file and we were giving it a directory.

[2019-05-09 11:20] shinnova commented on #2
Both the index check and importing was failing because of hard coded paths in the framework that this project relies on. liinko/xivModdingFramework@6f4f9f9 remedies this.

[2019-05-09 22:24] fosspill opened #11 "[Issue] Json from ttmp cannot read multiline json from old ttmp"
xivmoddingframework seems to have issues with old modpack files with multiple lines of json, specifically on linux?

Might be due to issues with dependencies, .net versions, mono/dotnet implementation on linux or specific project settings.

[2019-05-09 22:28] fosspill commented on #11
c5cd446 works around this issue by including our own way of handling this, ignoring how xivmoddingframework would do it.

Ideal solution:
1. Track down specific issue
2. Pull request to xivmoddingframework with fix

[2019-05-09 22:35] fosspill commented on #2
c5cd446f94b7491448b997843d14bf12468ff4e0 completes this issue.
Readme might need more updating, and we should consider releasing a binary.

[2019-05-09 22:35] #2 closed

[2019-05-09 22:38] fosspill opened #12 "Release 0.1 binary"
We should consider properly releasing 0.1 binary, built as a release (not debug) with optimizations (because why not).

This likely means we should tag our current master commits with the release version. (Dunno how that's done)

[2019-05-09 22:49] #10 closed

[2019-05-10 06:46] fosspill commented on #10
Mostly resolved as of V0.1

[2019-05-10 06:47] fosspill commented on #12
I'm pretty sure the current binary should work for most people, even if it's a bit dirty :) Will have to figure out the best way to release new versions. Can we get everything baked into one .exe for instance?

[2019-05-10 07:15] fosspill opened #13 "Properly bundle executable for all platforms"

[2019-05-10 07:33] shinnova commented on #13
Doesn't seem like we need PresentationCore.dll at all, building the project without succeeds and the application still works.

[2019-05-10 10:56] fosspill commented on #13
[code]

[2019-05-10 11:13] fosspill commented on #13
So, notes so far:

Some DLLs should be moved to the bundling directory.
I18N.dll I18N.MidEast.dll I18N.Other.dll I18N.Rare.dll  I18N.West.dll mscorlib.dll
Or presumably referenced with full paths to the correct ones (or -L to mono dir might be enough?)

We'll have to figure out how to bundle for multiple platforms, including windows, at the same time.

Presentationcore.dll also has to be bundled

[2019-05-10 11:14] shinnova commented on #13
It also seems I was wrong about PresentationCore not being needed, as trying to import a .ttmp2 fails once again with the following error:
[code]

[2019-05-10 11:17] fosspill commented on #13
PresentationCore shouldn't be needed for imagemagick on linux, but it seems like bundling it would be a simpler solution until we've understood what we are doing :dagger:

[2019-05-10 12:31] fosspill opened #14 "[Meta?] Proper unit tests to ensure compatibility with xivmoddingframework functions"
Low priority

[2019-05-10 12:47] shinnova commented on #13
[code]

Seems to build a working bundle for linux systems, needs some more testing

[2019-05-10 23:25] fosspill commented on #12
We've released bundled versions for mac and linux.

- [X] Starts on Windows.
- [X] Starts on Linux.
- [ ] Mac still needs to be tested.

[2019-05-14 19:04] fosspill commented on #3
A few thoughts about this:
It would be preferable to have multiple ways of configuring these directories:
- .xml/.json/whatnot settings file which contains the directories. If those are present then commandline argument is not required.
- Commandline arguments. Overrides settingsfile.
- If Workingdirectory matches the game directory AND argument is blank AND no settings are set then run it on the

[2019-05-14 20:11] fosspill opened #24 "[Feature+] Game launcher launcher"
Should we include a game launcher launcher?

With this we could potentially launch the game and automagically disable mods when patch is detected, hence requiring no input from the user.

I also like the name game launcher launcher.

1. Could potentially scrape mogstation for patchnotes, or keep a list over update days in our repo which the script would check.
2. There might be other ways of getti

[2019-05-14 21:30] #4 closed

[2019-05-15 12:59] fosspill commented on #24
Example:

[code]

[2019-05-15 13:04] fosspill opened #27 "[Feature] Manage mods (enable / disable)"
This is required to be implement asap, as patching can at the moment be problematic.

I suggest something among the lines of
[code]

Temporary workaround for missing functionality:
Run reset before patch.

[2019-05-15 13:07] shinnova commented on #3
https://github.com/salaros/config-parser also seems like the perfect way to implement a config file

[2019-05-15 13:55] shinnova commented on #7
659e068 adds this functionality

[2019-05-15 13:56] fosspill commented on #24
Seems like the most sensible way of doing this (without testing any further) is to make a proper "Launcher" which authenticates you and launches the game. However, if a new version is found it'll start the normal game launcher.

https://github.com/mclark4386/FF14Launcher/blob/1cd0dbd260f6ddbe6a3cb7ff95321f9bc90633b3/login.py

[2019-05-27 09:51] #3 closed

[2019-05-27 09:52] fosspill commented on #13
Closing this for now, no issues was found with the current way of bundling.

[2019-05-27 09:52] #13 closed

[2019-05-27 09:52] fosspill commented on #12
Closing until we have access to a Mac to test on.

[2019-05-27 09:52] #12 closed

[2019-05-27 09:54] fosspill commented on #3
Ready in dev branch as of 38b73b073a88263768b5a8b0c39cbbf5a1d2805d

[2019-05-27 13:47] fosspill opened #28 "Successfully enabled and disabled all mods!"
https://github.com/fosspill/FFXIV_TexTools_CLI/blob/development/FFXIV_TexTools_CLI/Program.cs#L1015

What? :D

"Have you tried turning it off and on again?"

[2019-05-27 15:05] shinnova commented on #28
Ssssh. It's just placeholder.

[2019-05-27 16:19] #28 closed

[2019-05-27 16:22] fosspill opened #29 "Add usage examples to website"
http://fosspill.github.io/FFXIV_TexTools_CLI

[2019-05-27 16:49] #7 closed

[2019-05-27 16:49] fosspill commented on #11
**This is a very low priority issue**

[2019-05-27 16:50] fosspill commented on #27
This was implemented differently, will be documented on the site.
73556c48918efd91f848907c708646aa68fd127a

[2019-05-27 16:50] #27 closed

[2019-05-27 16:51] #11 closed

[2019-05-28 09:48] fosspill opened #36 "Fix 3 Style issues in FFXIV_TexTools_CLI\Program.cs"
[CodeFactor](https://www.codefactor.io/repository/github/fosspill/ffxiv_textools_cli) found multiple issues last seen at 23f0589d0f36e2322ecfff00bb59ec9e9d2aa8d5:

#### A closing curly bracket must not be preceded by a blank line.
[FFXIV_TexTools_CLI\Program.cs:132
](https://www.codefactor.io/repository/github/fosspill/ffxiv_textools_cli/source/master/FFXIV_TexTools_CLI/Program.cs#L132)[FFXIV_TexT

[2019-05-28 09:51] fosspill opened #37 "Fix '.NET Assembly is not optimized' issue in references\xivModdingFramework.dll"
[CodeFactor](https://www.codefactor.io/repository/github/fosspill/ffxiv_textools_cli/overview/master) found an issue: .NET Assembly is not optimized

It's currently on:
[references\xivModdingFramework.dll
](https://www.codefactor.io/repository/github/fosspill/ffxiv_textools_cli/source/master/references/xivModdingFramework.dll)

Likely built with debug. Should be rebuilt with release settings.

[2019-05-28 09:54] shinnova commented on #37
I think this is correct. Will rebuild with release instead.

[2019-05-28 11:09] fosspill commented on #29
Completed as of https://github.com/fosspill/FFXIV_TexTools_CLI/commit/b3e62a1bc9e2a567aeb8d4f302b0dd91250c710a

[2019-05-28 11:09] #29 closed

[2019-05-28 11:16] fosspill commented on #1
We'd really love for someone to test the v0.3 release on Mac, Windows and Linux (in order of priority).
We've already properly tested on Linux, with some light tests on Windows.

[2019-05-28 13:46] fosspill commented on #37
This was fixed right after #30 with commit https://github.com/fosspill/FFXIV_TexTools_CLI/commit/767d652ce2d0996922d3fc1833f2f057010e161e.

This commit has been tagged to v0.3 and binaries has been updated. Please confirm and close @shinnova

[2019-05-28 13:48] fosspill commented on #36
Closing to recreate with accurate information

[2019-05-28 13:48] fosspill opened #40 "Fix 3 Complexity issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/fosspill/ffxiv_modding_tool) found multiple issues last seen at 14fb5ab1941a612f1f264a672df1478477885e50:

#### Complex Code
[FFXIV_Modding_Tool\Program.cs
](https://www.codefactor.io/repository/github/fosspill/ffxiv_modding_tool/source/master/FFXIV_Modding_Tool/Program.cs)
#### Complex Method
[FFXIV_Modding_Tool\Program.cs:1098-1182
](https

[2019-05-28 13:55] fosspill commented on #36
Updated the text to reflect today's state and split issue into styling and complexity

[2019-05-28 14:06] #36 closed

[2019-05-28 14:06] shinnova commented on #37
Yes, this has been fixed and added to the 0.3 release. Binaries are updated to now use the correctly built framework.

[2019-05-28 14:06] #37 closed

[2019-05-28 14:07] fosspill commented on #40
This is absolutely something we'll have to tackle before a V1.0 release, but it seems like we'd have to learn a lot more to be able to simplify these complex methods.

[2019-05-28 15:55] fosspill opened #42 "[ISSUE] version verb shows gameversion, not ffttcli version"
**Describe the bug**
version flag shows gameversion. should show tool version or both.

[2019-05-28 16:31] fosspill opened #43 "[ISSUE] Doesn't check for index backup before applying"
**Describe the bug**
Right now the user is responsible for making index backups. These are essential and should be **STRONGLY** recommended if no backups are found, or a new version of the game is detected.

**Desktop (please complete the following information):**
 - OS: All
 - FFXIV_TexTools_CLI Version: v0.3

[2019-05-28 17:25] fosspill opened #44 "[ISSUE] Correct website double headlines for usage.md"

[2019-05-28 18:00] fosspill opened #45 "[FEATURE] Detect previously modded game by Textools"
We should detect if a game has been previously modded by textools and there are no clean backup files.

Throw big warning. Recommend resetting in Textools before continuing.

[2019-05-29 07:46] fosspill commented on #44
Done, and added some flare to make it easier to see the clickable links when the arrows somehow don't load.

[2019-05-29 07:46] #44 closed

[2019-06-04 06:47] #42 closed

[2019-06-04 06:47] #43 closed

[2019-06-04 06:47] #45 closed

[2019-06-04 06:56] fosspill opened #48 "[ISSUE] Stringing together commands can cause corruption of gamedata"
**Describe the bug**
If you string together multiple commands the gamedata can corrupt.

I presume that this is due to disk activity not being done before starting more activity? This is purely a blind guess.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'textools r && textools mpi -i mymodpack.ttmp2'
2. Start game, get error about missing datafiles

**Expected behavior**
Runni

[2019-06-04 08:21] fosspill opened #49 "Better ProblemChecker output"
The problemchecker output today is an overwhelming stream of useless information. It's like going to the doctor and receiving a 500 page report on every single bone in your body where the one broken one is mentioned on page 324 section 3 paragraph 5.

This really needs to be made cleaner. I'd gladly work on this, but I'd need some pointers about where to start (do I create a global array or a func

[2019-06-04 08:38] fosspill opened #50 "[FEATURE] --dry-run?"
Would it be smart to consider a dry-run option?
Could potentitally be handy with the problem checker, or even large modpack imports.

[2019-06-04 08:48] fosspill commented on #50
After some thinking, this really wouldn't be worth the effort while still keeping the code clean-ish.

[2019-06-04 08:48] #50 closed

[2019-06-04 08:53] shinnova commented on #48
Running the problemcheck after importing a modpack prevents the corruption from happening, so this seems to be a good solution. Will also add a flag that lets a user skip the problemcheck after import if desired.

[2019-06-04 08:57] shinnova commented on #49
Creating an array in the problemchecker function sounds like the way to go, as you can make the individual checks return any issues found and add them to the array. If the array doesn't contain anything after the last check this means everything is okay, otherwise show what issues were found.

[2019-06-06 11:23] #48 closed

[2019-06-06 11:25] fosspill opened #52 "Project rename"
To ensure that we properly respect Liinko's likely copyrighted name I'm proposing renaming the project,

The following will need to be changed:

- [x] Binary release names
- [x] Readme.md
- [x] Website
- [x] C# Project Name and associations(?)

The following will have to be discussed:

- [x] Repo name
- [x] Website url

Reponame is easy, but I believe the redirect from the old url is removed after

[2019-06-06 14:52] #52 closed

[2019-06-12 17:27] #49 closed

[2019-06-28 08:45] fosspill opened #61 "Shadowbringers support"
This is an issue to track progress with shadowbringers support.

#59 Will contain the code needed
#60 Will contain website information

What issues are remaining to fix before these should be merged, @shinnova ?

[2019-06-28 08:51] fosspill commented on #24
Or - what about scraping the website for patch notes. That would require more logical thinking as they don't provide the game version, but it might be the easiest way.

[2019-06-28 09:35] shinnova commented on #61
- [ ] TTMP.GetModPackJsonData is now an async task and needs to be awaited to get the data
- [ ] Progress<double> has been switched to IProgress, ReportProgress needs to be adjusted accordingly
- [ ] ProblemChecker functions are now async tasks and need to be awaited
- [ ] Dat functions are now async tasks and need to be awaited

[2019-06-28 10:57] #61 closed

[2019-06-28 11:07] fosspill opened #62 "Packaging for distros"
Now we release both the bundled and unbundled versions of this tool, but it would be nice to have it released on various distros (at least have the packages available for one-click installs).

aur would be easy, but I do wonder if a .deb version would be nice too.

[2019-06-28 11:10] fosspill commented on #62
Huh, this looks pretty sweet actually!

https://fpm.readthedocs.io/en/latest/use-cases/files.html

[2019-06-30 16:11] fosspill opened #63 "[FEATURE] Support for wizard imports"
**Is your feature request related to a problem? Please describe.**
It's currently unclear what importing modpacks that rely on the wizard will do. My guess is that all parts is imported, which I imagine can cause unexpected issues.

**Describe the solution you'd like**
Proper wizard support (through some kind of ncurses thing, maybe? Or config files?)

**Workaround**

- Import modpack in a vm or o

[2019-07-01 08:22] fosspill commented on #63
Overly verbose example:

[code]

[2019-07-01 12:46] fosspill commented on #63
Fix is being worked on in development d9b62f931ef23b7603481d2fa5c537d015e2a15e

[2019-07-02 07:16] fosspill commented on #63
Initial support for this is now in dev 0829d2b05765b82708e8d97132678c87331c1d42

This will be polished a bit and then v0.5 will be released.

[2019-07-02 07:37] fosspill opened #67 "[FEATURE] interchangeability with textools_ui"
Proper interchangeability with other tools, such as textools, should be strongly considered

**Describe the solution you'd like**
- Checks for the other tool actually running (to ensure that both tools aren't doing stuff)
- Can use the same config files (or can convert them on the fly)
- Can manage the same mods

[2019-07-02 07:40] fosspill commented on #1
We've kept our compatibility goals and even contributed upstream to ensure further compatibility.

I'll close this issue for now as version 0.5 is getting close and no unresolved compatibility issues has been discovered at any points since May.

[2019-07-02 07:40] #1 closed

[2019-07-02 09:17] shinnova opened #68 "[FEATURE] Use wizard selection logic for normal modpack imports"
We should consider using the current wizard import logic for regular modpack imports when using the --custom flag instead of/as alternative to the config files that are in use currently.

**Describe the solution you'd like**
Allow picking what modifications to import when importing a modpack through the same selection method as the wizard import.

[2019-07-02 09:22] shinnova opened #69 "[ISSUE] Update site with new wizard examples"
**Describe the bug**
The website needs to be updated with usage examples of the newly added import wizard support.

[2019-07-02 12:02] fosspill opened #70 "[FEATURE] Modpack info subcommand"
Now that we'll support wizard imports we'll also need ways of seeing what kind of modpack this is.

[2019-07-02 12:03] fosspill commented on #69
PR ready

[2019-07-02 12:03] #69 closed

[2019-07-02 12:03] fosspill commented on #63
PR Ready

[2019-07-02 12:03] #63 closed

[2019-07-02 14:09] fosspill commented on #68
The bad:
Scrollback lines.

The good:
Easier to maintain. Easier to use.

My suggestion would be to "fake" pages. Maybe with up to 50 on each:

[code]

[2019-07-02 15:12] #70 closed

[2019-07-02 15:13] fosspill commented on #70
Added to #71

[2019-07-02 15:16] fosspill commented on #68
We should get rid of --custom all together and give a proper option when importing a simple modpack.

[code]

[2019-07-02 17:15] fosspill opened #72 "Mod management 2.0"
[code]

[2019-07-20 14:29] fosspill opened #74 "[FEATURE] Modify modpacks"
**Describe the solution you'd like**
A way to modify already created modpacks (and preview them, including what files they include)

Suggestion:

Show the modpack as a file structure where files can be replaced/added/deleted. When done with the editing FFMT will recreate the modpack.

**Additional context**
Textools does not have this functionality, so this would be another function that would be

[2019-07-20 14:29] fosspill commented on #74
Depends on #8

[2019-08-12 21:28] hybridindie opened #78 "[ISSUE] Bundled version broken on MacOS 10.14.6"
**Describe the bug**
When executing the runtime the following error occurs

[code]

This is a clean install as I am unable to get through the first part of the focus recommend first run

**To Reproduce**
Steps to reproduce the behavior:
1. Download
2. chmod +x the file
3. ./FFXIV_Modding_Tool-Mac-Bundled

**Expected behavior**
To print help and create config file.

**Desktop (please complete the f

[2019-08-12 21:56] fosspill commented on #78
Thank you for the bug report. It seems like one of our dependencies somehow isn't in the prebuilt binary.

You could, if you are inclined, try to run the [Universal version](https://github.com/fosspill/FFXIV_Modding_Tool/releases/download/v0.5/FFXIV_Modding_Tool-Universal.zip) through mono.

@shinnova Could you assist here? I assume that the mac bundle somehow works differently - or that the depen

[2019-08-12 23:44] hybridindie commented on #78
Just did and the initial run works but it's not able to find the necessary file to actually run.

The first error I get is the following
[code]

You may want to up the Docs to say the GameDirectory config value or -g option needs to look within the .app file. The full path is similar to:
`/Applications/FINAL FANTASY XIV ONLINE.app/Contents/SharedSupport/finalfantasyxiv/support/published_Final_Fant

[2019-08-13 07:34] fosspill opened #79 "[ISSUE] MacOS: Document important folders"
Just did and the initial run works but it's not able to find the necessary file to actually run.

The first error I get is the following
[code]

You may want to up the Docs to say the GameDirectory config value or -g option needs to look within the .app file. The full path is similar to:
`/Applications/FINAL FANTASY XIV ONLINE.app/Contents/SharedSupport/finalfantasyxiv/support/published_Final_Fant

[2019-08-13 07:36] fosspill opened #80 "[ISSUE] Problem checking functions broken on Mac"
The program reports missing files and will not import mods due to it thinking that application is running (It is not and confirmed such)

When importing
[code]

Running a problem check
[code]

Should I make this another ticket or follow here due to being both Mac related?

_Originally posted by @hybridindie in https://github.com/fosspill/FFXIV_Modding_Tool/issues/78#issuecomment-520634729_

[2019-08-13 07:40] fosspill commented on #78
I've split this up into 3 issues now: #78 is yours and renamed to match the problem.
#79 is to ensure proper support for the .app folder and/or documenting better.
#80 is to fix the issues reported with the problem checking functions.

#79 and #80 will be prioritized and both seem rather easy to fix - or at least work around.

It's likely we'll have a test version for you in a few hours. @shinnova

[2019-08-13 07:48] fosspill opened #81 "[FEATURE] Better releases"
At the moment we release straight up binaries.

It would likely be better to release a binary with the name ffmt within .zip/.tar files

[2019-08-13 08:21] shinnova commented on #78
Yes, I'll prioritize these issues and I'll hopefully have a test version ready in a couple hours.

[2019-08-13 08:43] fosspill commented on #79
Added a note regarding this in the first-time setup doc:
https://github.com/fosspill/FFMT-Website/commit/311fc5a6e1cb6448ca97766cc47571f4819772f2

[2019-08-13 10:29] hybridindie commented on #79
The index and dat files are actually located `/Users/<USER_NAME>/Library/Application Support/FINAL FANTASY XIV ONLINE/Bottles/published_Final_Fantasy/drive_c/Program Files (x86)/SquareEnix/FINAL FANTASY XIV - A Realm Reborn` This took me a while but eventually got a successful load of a mod using this path. No need to download anything as all the necessary files were found in the backup.

[2019-08-13 10:32] fosspill commented on #79
Neat!

We'll have to clean up documentation and properly have this available.

@shinnova, would it be a good idea to add these common paths to the config file itself as examples?

[2019-08-13 10:37] shinnova commented on #79
Yeah, having proper examples in the config file is a very good idea.

[2019-08-13 10:40] fosspill commented on #79
We should also consider having a setup command that takes the user through the basic configuration. Here we could also include some code that tries to scan for and suggest directories.

Thank you very much so far @hybridindie ! You have no idea how appreciated your input and reports are.

[2019-08-13 10:48] fosspill opened #82 "[ISSUE] Check if configuration is correct. Stop assuming everything is ok."
We currently just check if the directories are set. We never check if they are actually valid.
This causes other issues to occur, such as error detecting if the game is actually running.

This would fix parts of #79
Would also fix #80, it seems.

[2019-08-13 10:49] fosspill commented on #82
configcheck-fix branch is set up. Work can start.

[2019-08-13 10:51] fosspill opened #83 "[FEATURE] First-time setup command"
**Is your feature request related to a problem? Please describe.**
Figuring out what folders to set in the configuration can be a hassle

**Describe the solution you'd like**
A clear and straightforward setup guide within the application itself that guides the user through picking the correct folders.

[2019-08-13 11:10] fosspill commented on #79
@hybridindie : Which folder did you set as the ConfigDirectory? Unsure about the nature of wine+MacOS here.

[2019-08-13 11:13] hybridindie commented on #79
ConfigDirectory is set as follows `/Users/<USER_NAME>/Documents/My Games/FINAL FANTASY XIV - A Realm Reborn

OT: I'll be glad to assist for Mac related issues/testing, I'm not Mono / C# but I am a developer

[2019-08-13 11:31] fosspill commented on #79
Perfect! So happy to have you onboard :)

Quickly slapped some more text together. Would this have helped you?
https://ffmt-pr-3.onrender.com/docs/mods/first-time/

[2019-08-13 12:05] fosspill commented on #79
This issue is now mostly resolved and will be properly included in the next release.

Website changes:
- Add new Configuration File section.
- Add examples to first-time setup.

Application changes:
- The default configuration file will come with examples built-in.

[2019-08-13 12:05] #79 closed

[2019-08-13 12:11] fosspill commented on #80
This issue was caused by incorrect configuration which ffmt accepted was correct.
@hybridindie: Does the problemchecker command work as expected now? (ie: mono FFXIV_Modding_Tool.exe pc) ?

If so, then this issue can be closed and further progress with the configuration checking will be tracked in #82

[2019-08-13 12:13] fosspill commented on #78
We'll get access to a Mac and find what is causing the issue with the bundle, for now I've removed the bundled mac release.

[2019-08-13 12:13] hybridindie commented on #78
It might be worth adding information about downloading and installing Mono then

[2019-08-13 13:05] fosspill commented on #78
Good point, adding that to the installation doc

[2019-08-13 13:09] #80 closed

[2019-08-14 16:15] fosspill commented on #82
Fixed with 0fc61e2c75abaad46724aaaebe85b078fabbd182

[2019-08-14 16:15] #82 closed

[2019-08-14 16:16] #81 closed

[2019-08-14 16:46] #68 closed

[2019-08-14 17:07] #40 closed

[2019-08-14 17:07] codefactor-io[bot] opened #87 "Clean up Program.cs"
[CodeFactor](https://www.codefactor.io/repository/github/fosspill/ffxiv_modding_tool) found an issue: Complex Code

It's currently on:
[FFXIV_Modding_Tool\Program.cs
](https://www.codefactor.io/repository/github/fosspill/ffxiv_modding_tool/source/master/FFXIV_Modding_Tool/Program.cs)Commit 14fb5ab1941a612f1f264a672df1478477885e50

[2019-08-14 17:08] codefactor-io[bot] opened #88 "Rework LoD in FFXIV_Modding_Tool\Program.cs:1093-1177"
[CodeFactor](https://www.codefactor.io/repository/github/fosspill/ffxiv_modding_tool) found an issue: Complex Method

It's currently on:
[FFXIV_Modding_Tool\Program.cs:1093-1177
](https://www.codefactor.io/repository/github/fosspill/ffxiv_modding_tool/source/master/FFXIV_Modding_Tool/Program.cs#L1093)Commit 14fb5ab1941a612f1f264a672df1478477885e50

[2019-08-14 18:55] fosspill commented on #78
@hybridindie, some good news, and some bad news!
We finally got access to a mac installation and have released a pre-release with a mac version that should work.
The slightly bad news is that it still seems to require having mono installed, however, mono is loaded automatically so `mono ffmt.exe` is no longer needed.

Could you test and confirm that the bundled mac version of v0.6 actually works?

[2019-08-14 19:08] hybridindie commented on #78
Works perfectly with one exception - The Y/N responses are case-sensitive which causes the wizard to ask the same thing again or outright exit if you get the `Found a mod applied by an unknown application, game stability cannot be guaranteed` warning. Respond with an uppercase Y and it bails out without doing anything

[2019-08-14 19:22] fosspill commented on #78
Thank you for confirming that the bundled mac version works better!

Case-Sensitivity: Ops, that's easy enough to fix. We'll add that fix very soon.

Regarding the "Found a mod applied by an unknown application" warning, not really sure why this happens sometimes. Still researching that. Likely a bug with reading the mods, we'll add some extra output to track the culprit.

[2019-08-14 19:25] fosspill opened #89 "[ISSUE] Found a mod applied by an unknown application"
**Describe the bug**
The application sometimes complains about a mysterious mod applied by another application - even if that isn't the case.

**To Reproduce**
Unsure about steps to reproduce.
Presumably cancelling out at the wrong point in the import process?

**Expected behavior**
Importing a mod with FFMT should always conclude with FFMT recognizing it.

**Desktop (please complete the following

[2019-08-14 20:25] fosspill commented on #78
The bundled mac version still seems to be having some strange issues, we'll dig into this later. It's honestly a bit over our heads.

Might need to just consider dropping the bundled version and rather provide proper makefiles and such.

Someone with mkbundle experience would be handy :)

[2019-08-14 21:21] fosspill commented on #78
@hybridindie - Could you try to run the v0.6 pre-release version with the problemchecker action? (`ffmt pc`) If it works for you then we can keep the bundle for now

[2019-08-14 22:00] hybridindie commented on #78
Everything is all good when except disable, you can't disable and backup without resetting but all other commands work as expected

[2019-08-15 06:29] shinnova opened #90 "[ISSUE] Can't create a backup when mods are disabled"
Everything is all good when except disable, you can't disable and backup without resetting but all other commands work as expected

_Originally posted by @hybridindie in https://github.com/fosspill/FFXIV_Modding_Tool/issues/78#issuecomment-521435495_

[2019-08-15 06:31] shinnova commented on #90
It seems that the disable function is currently only pretending to have disabled mods. Will fix this and add a check to see if it successfully disabled mods.

[2019-08-15 07:54] shinnova commented on #90
As it turns out the enabling/disabling of mods is now an asynchronous task in the xivModdingFramework, and needs to be awaited to ensure completion.

[2019-08-15 10:52] #90 closed

[2019-08-15 12:05] fosspill commented on #78
That's very interesting and it makes me wonder why I have issues on my mac install. Might be something to do with trying to access game data over nfs.

We'll keep releasing the mac bundle the way we made the v0.6 prerelase.

[2019-08-15 12:05] #78 closed

[2019-08-17 14:07] fosspill opened #92 "[ISSUE] Newline missing after user input and typo"
**Describe the bug**
[code]

Also: successfull also isn't spelt like that :)

[2019-08-20 08:54] #92 closed

[2019-08-31 12:23] fosspill commented on #89
This seems to have random chance of happening while importing a modpack. This is handled by the framework.

Theories so far:
- This is by design and we can ignore mods with no name from all checks
- This is a upstream bug that happens randomly (dependent on import order?)

Fixes/workarounds we can apply:
- Make sure problemchecker finds this issue
- Make sure unnamed mods are ignored from all chec

[2019-09-13 08:12] shinnova commented on #6
Quick notes on how it should potentially work:

`ffmt mod export "fill in name here" --model all`
1. searches for user filled in name
2. multiple choices offered to user if string matches more than one item
3. export wanted data based on switches, maybe offer choices if nothing is defined?
4. export to directory defined in config? savedirectory?
5. model can be object, materials or both (all)
6. t

[2019-09-13 10:01] fosspill commented on #6
Playing around with command ideas.

[code]

[2019-09-19 13:32] fosspill commented on #83
**Goal**
Help user to set up the application properly to minimize learning curve.

**Success criteria**
- At the end the user knows where to find proper documentation
- The config file has been populated with valid options
- The code complexity is not increased
- Code quality checks pass

[code]

[2019-11-08 23:34] shinnova commented on #89
After the newest version of the xivModdingFramework, it has become apparent that this is done by design, as the source is now set to "FilesAddedByTexTools". We can now safely ignore this.

[2019-11-11 12:00] #89 closed

[2020-02-18 18:16] fosspill opened #122 "[FEATURE] Split FFMT from Framework"
Consider splitting ffmt from the framework. This will reduce our maintenance burden.

[2020-02-18 18:18] shinnova opened #123 "[FEATURE] Create backups if backups are out of date"
**Problem**
After a patch when one needs to update their index backups, the tool notifies you that your backups are out of date, but only prompts to ignore this fact.

**Solution**
It would be nice for the prompt to be if you want to backup your indexes right then and there.

[2020-02-19 12:47] fosspill commented on #122
https://www.mono-project.com/docs/advanced/pinvoke/

[2020-02-19 17:21] #123 closed

[2020-02-19 17:21] fosspill commented on #123
Closesd in https://github.com/fosspill/FFXIV_Modding_Tool/pull/124

[2020-02-19 18:42] fosspill commented on #83
Example FileDialog, if we want to go that route:

[code]

[2020-02-19 21:23] fosspill opened #125 "Split off and generalize helper functions"

[2020-02-19 21:32] fosspill commented on #83
Also possible, open the .cfg file in the  OS default editor:

[code]

#72 could benefit from either way

[2020-02-20 08:50] fosspill opened #126 "Clean up duplicated code in Arguments.cs"
There is a good amount of duplicate code in arguments.cs
Specifically between ReadArguments and ReadActions.

[2020-02-20 14:46] fosspill commented on #83
Delaying until #129 is done

[2020-02-21 12:13] fosspill commented on #125
While this should be done at some point I'll close the issue for now. With how few helper functions we have at the moment we'll just make things worse

[2020-02-21 12:13] #125 closed

[2020-03-28 12:43] fosspill opened #139 "[ISSUE] Error when picking Nothing from optional wizard"
**Describe the bug**
When importing Wizard modpack, if all options are optional you get an error when trying to pick none.

it still works as expected, but the error and "blank text" should be replaced.

[2020-04-23 10:44] fosspill opened #141 "[ISSUE] mono_thread_internal_set_priority ?"
**Describe the bug**
Application spams error under **wayland**

This may be a local issue.

[code]

**Expected behavior**
Normal output

[2020-05-06 08:15] shinnova commented on #126
Closing as this is resolved through #142

[2020-05-06 08:15] #126 closed

[2020-05-06 08:25] fosspill commented on #141
I think we can chalk this up to mono + wayland for now. The application works fine regardless of the error, and it seems to be hard to silence it as a workaround.

[2020-05-06 08:25] #141 closed

[2020-05-11 09:07] dependabot-preview[bot] opened #147 "Dependabot couldn't find the branch dependabot"
Dependabot was set up to create pull requests against the branch `dependabot`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/fosspill).

[View the update logs](https://app.dependabot.com/accounts/fosspill/update-logs/32646210).

[2020-05-12 12:29] #147 closed

[2020-05-12 12:30] dependabot-preview[bot] opened #148 "Dependabot couldn't find the branch dependabot"
Dependabot was set up to create pull requests against the branch `dependabot`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/fosspill).

[View the update logs](https://app.dependabot.com/accounts/fosspill/update-logs/32841353).

[2020-05-12 12:33] #148 closed

[2020-06-09 08:43] lillelilje commented on #24
Closing this for now.
Definitely out of scope.

[2020-06-09 08:43] #24 closed

[2020-06-09 10:05] lillelilje commented on #83
#129 is now properly in. Will look into this again.

[2020-06-17 01:41] drunknfairy commented on #5
Please allow for files exported from other applications such as Blender. 3DS is not for the budget-minded and Blender is currently one alternative within reach to the average person at opensource/free. Currently all tutorials for FF modding are proprietary to 3DS and DAE format. Perhaps add capability for other file imports like FBX too.

[2020-06-17 05:56] lillelilje commented on #5
At the moment we do not allow you to import singular textures or models, but if you make a ttmp you can import it.

Technically we do already support blender, we are just lacking the functionality to import at all. (This support is handled in the framework)

I'll see if we can prioritize this.

[2020-06-17 07:12] shinnova commented on #5
Now that the framework has implemented (not yet flawless) blender support, I see the need to prioritize having proper import/export functionality.
As for supporting other file imports, I'm afraid that right now that's dependent on what the framework we rely on supports.

[2020-07-11 14:51] shinnova opened #166 "[ISSUE] Directories don't pass validation if quoted in config"
**Describe the bug**
When directory paths in the config file are quoted, they don't pass the directory validation check.

**To Reproduce**
Steps to reproduce the behavior:
1. Set GameDirectory="/path/to/directory" and run the problemchecker
2. Get ERROR: Invalid game directory

**Expected behavior**
Problem checker continues as normal

This is easily fixable by checking for quotation marks in the

[2020-07-17 08:19] lillelilje opened #168 "[ISSUE] Success Code even when Error"
**Describe the bug**
The application seems to return success even if it fails

**To Reproduce**
Steps to reproduce the behavior:
In this scenario the problem-checker finds errors
1. Run command ffmt pc && ffmt mpi -t myfile.ttmp2
2. See that ffmt pc is executed and then the next command

**Expected behavior**
The next command in the chain should NOT be executed

[2020-07-25 02:36] taylor85345 opened #170 "Mods Refresh is broken, reports success but does not make any changes (Linux)"
Running the "ffmt mods refresh" command after altering modlist.cfg instantly reports success with the correct number of mods to be enabled and disabled, but no actual changes are made to game files. This makes it impossible to selectively disable mods

I am running Manjaro Linux with the Steam version of FFXIV running in Proton. I am new to ffmt and not a developer by any stretch, so if there are

[2020-07-25 09:16] lillelilje commented on #170
Looking into this today

[2020-07-25 13:25] shinnova commented on #170
As it turns out the toggling of mods is now an asynchronous task in the framework and just had to be awaited in ffmt for "ffmt mods refresh" to work as intended once more. This will be fixed in the next release.

[2020-07-25 13:26] lillelilje commented on #166
Test code:
[code]

Output:
[code]

This seems like a config library bug we'll have to wok around.

[2020-07-25 14:21] lillelilje commented on #166
Fix in Default

[2020-07-25 14:21] #166 closed, assigned to lillelilje, shinnova

[2020-07-25 14:22] #170 closed, assigned to shinnova

[2020-07-25 15:18] #168 closed, assigned to lillelilje

[2020-07-25 15:18] #139 closed

[2020-07-25 16:07] shinnova commented on #170
@taylor85345 Could you confirm that mods refresh works with the latest release?

[2020-07-25 23:56] #87 closed

[2020-07-25 23:56] #88 closed

[2020-07-26 11:05] lillelilje commented on #62
aur package available https://aur.archlinux.org/packages/ffmt-bin/ !

[2020-07-26 22:43] lillelilje opened #183 "dotnet: Rename executable"
It would be nice to compile as ffmt instead of FFXIV_Modding_Tool.

Todo:

- [x] Update AssemblyInfo name
- [x] Update https://github.com/fosspill/FFXIV_Modding_Tool/blob/dotnet/FFXIV_Modding_Tool/Program.cs#L1271 to respect old directory

@shinnova mind thinking about the last one?

[2020-07-27 09:59] lillelilje commented on #183
Another thought, there may be a way of deciding the packed executables name without affecting this, but I doubt so

[2020-07-27 13:41] #183 closed, assigned to nobody

[2020-07-28 10:48] #83 closed

[2020-07-28 12:32] lillelilje commented on #14
I'll close this for now, but we now have the possibility to add more than build testing in the github workflow

[2020-07-28 12:32] #14 closed

[2020-07-28 12:52] lillelilje commented on #122
We have taken a short step torwards this, but I don't think it's needed to split off any further just yet.

[2020-07-28 12:52] #122 closed

[2020-07-29 08:33] taylor85345 commented on #170
Thank you, and sorry for the delayed response. The Mods Refresh function now behaves as expected in the new AUR build of 0.9.2 (Also much appreciated).

[2020-07-29 11:05] lillelilje commented on #170
Thank you @taylor85345!

In case anyone else has issues, try using the shorthand "mr" instead of "mods refresh". That part will be reworked for next release anyways.

[2020-08-10 14:31] dependabot-preview[bot] opened #191 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/f

[2020-08-10 14:34] lillelilje commented on #191
Fixed in config

[2020-08-10 14:34] #191 closed, assigned to nobody

[2020-08-11 17:28] taylor85345 opened #195 "Silently fails at importing .ttmp files while .ttmp2 files works."
After updating to 0.9.3, the modpack import and mpi commands report success without completing the install. "modlist.cgf" is not updated, and if deleted is not created on running ffmt mpi.

[code]

This issue is confirmed in both the binary release and the AUR build. Have not tried compiling manually.

[2020-08-11 17:31] lillelilje commented on #195
Interesting. Just confirmed that it works fine for me.

Could you link the Viera Refined modpack?

[2020-08-11 17:32] fosspill commented on #195
Also, did you get an error when you first tried using it?

[2020-08-11 18:12] lillelilje commented on #195
@shinnova it may be problematic if mod_cache.db fails to create. We definitely need to catch that issue.

@taylor85345 could you try to delete your mod_cache.db file in your game installation folder and run the import again using the package in the aur?

[2020-08-11 18:16] taylor85345 commented on #195
I have tried with half a dozen other modpacks as well, but you can find the Viera Refined here: https://www.nexusmods.com/finalfantasy14/mods/168

I did not receive any errors on the first run. My first command post-update was:
`ffmt backup`

and the exact syntax I am using for installing is:

`ffmt modpack import -t ~/FFXIV_TEX_BACKUPS/Mods/Viera\ Refined.ttmp2`

or

`ffmt mpi -t ~/FFXIV_TEX_BACK

[2020-08-11 18:17] lillelilje commented on #195
Did you do this also after deleting *mod_cache.db* ?
May need to delete the itemcache db also, but I don't think so.

Currently in a raid, so troubleshooting a bit later :)

[2020-08-11 18:28] taylor85345 commented on #195
I deleted mod_cache.db, item_sets.db, and XivMods.json. On running mpi, those files were replaced, but the result was the same. No mods installed, no modlist.cgf

[2020-08-11 18:31] lillelilje commented on #195
Very interesting. What is your mod_cache.db size?

[2020-08-11 18:32] taylor85345 commented on #195
4.0 MiB (4,239,360)

[2020-08-11 18:52] lillelilje commented on #195
Thank you! I'll check a bit soon.

This was a bit of a rough version due to large changes in the xivmoddingframework, so I apologize for the kinks.

[2020-08-11 19:18] taylor85345 commented on #195
Understood. Please let me know if there is any additional information I can provide.

[2020-08-11 20:13] shinnova commented on #195
What does your XivMods.json look like?

[2020-08-11 20:15] taylor85345 commented on #195
[code]

[2020-08-11 20:38] lillelilje commented on #195
Thanks, could you send your config file as well so that we can test with as similar setups as possible?
Also - which dotnet runtime version do you have installed?

[2020-08-11 20:46] taylor85345 commented on #195
[code]

I started this process running dotnet-runtime 3.1.3.sdk103.2-1, the version currently hosted in the Manjaro Community repositories, but in the process of troubleshooting I upgraded to dotnet-runtime-bin 3.1.6.sdk302-2 from the AUR.

[2020-08-11 22:30] shinnova commented on #195
Could you try with [this version](https://github.com/fosspill/FFXIV_Modding_Tool/files/5059765/ffmt.zip) and send us the output you get?
Just unzip, cd into the folder, then run `./ffmt mpi -t ~/FFXIV_TEX_BACKUPS/Mods/Viera\ Refined.ttmp2`

[2020-08-11 22:35] taylor85345 commented on #195
Same result
[code]

[2020-08-11 22:53] shinnova commented on #195
Thank you very much. Getting the same result was expected, but it helped in narrowing down the issue.
Still cannot find anything wrong, so if you could run this [new version](https://github.com/fosspill/FFXIV_Modding_Tool/files/5059829/ffmt.zip) and send the output that would be great.
It is still expected to fail for you, but hopefully gives enough information.

For your reference, this is the ou

[2020-08-11 23:11] taylor85345 commented on #195
Same output, doesn't seem to be providing any more information

[code]
I've tried this build with a few other modpacks and am not seeing any debug messages at all.

[2020-08-12 07:25] shinnova commented on #195
That does help narrow it down even more, though I still cannot see what exactly is causing this issue. Could you give me the output of [this one](https://github.com/fosspill/FFXIV_Modding_Tool/files/5061207/ffmt.zip) as well? It should give more information as to what is going on.

[2020-08-12 08:23] kainzilla commented on #195
EDIT: My apologies, I see that most of the issues mentioned below are probably stemming from the change in ffxivmod framework as mentioned here: https://github.com/TexTools/xivModdingFramework/pull/18

Quick up front - thanks so much for working on this mod installer. This program is so easy to use, and it's very appreciated.

I appear to be seeing a similar issue here with the current version:

-

[2020-08-12 11:44] lillelilje commented on #195
@all-contributors please add kainz0r for Bug Reports and User Testing.

[2020-08-12 11:45] lillelilje commented on #195
@all-contributors please add taylor85345 for Bug Reports and User Testing.

[2020-08-12 12:27] shinnova commented on #195
@kainz0r and @taylor85345
 Could you try importing with [this debug version](https://github.com/fosspill/FFXIV_Modding_Tool/files/5062602/FFXIV_Modding_Tool.zip)?
It contains fixes for Y/n prompts not accepting Return, and when using the included script to run ffmt your current working directory should be respected once again

Please send the output of your XivMods.json after trying an import.

[2020-08-12 14:27] taylor85345 commented on #195
The latest debug version appears to be behaving as expected with ttmp2 files. Below is my output from XivMods.json after  the first run using the Viera Refined.ttmp2 modpack.

[code]
<details>
  <summary>cat ~/.steam/steam/steamapps/common/FINAL\ FANTASY\ XIV\ Online/game/XivMods.json</summary>

[code]

</details>

I have since tried this with a couple of other modpacks. .ttmp2 packs install as ex

[2020-08-12 16:46] lillelilje commented on #195
Thank you very much! That helps tremendously.

Some observations:
XivMods.json seems to be filled in incorrectly still, even though that shouldn't cause any direct issues it does point to a problem in the data we are feeding the xivmoddingframework.
[code]

[2020-08-12 21:19] shinnova commented on #195
@kainz0r @taylor85345
This [latest test build](https://github.com/fosspill/FFXIV_Modding_Tool/files/5065821/FFXIV_Modding_Tool.zip) should have fixed import for both .ttmp2 and .ttmp files. Could you test and confirm that it works for you?

[2020-08-12 21:40] lillelilje commented on #195
Changelog for the currently linked test build:

Fixes and maintenance
  - `mods refresh` has now been spelled correctly
  - Y/n prompts will accept Return as choosing the default value
  - .ttmp: `modpack import` would fail silently. This was caused by an incompatible dependency that has now been replaced with standard functions.
  - .ttmp2: `modpack import` could, in some cases, fail silently. Th

[2020-08-12 21:58] taylor85345 commented on #195
I have  been able to successfully import both .ttmp and .ttmp2 modpacks in the new build. However, I the application will occasionally hang after the step "Importing 94/94 mods from modpack...", never reporting a progress percentage. Killing the process and trying again is usually successful. Seems to be 50/50, usually impacting newly installed modpacks.

[code]

[2020-08-12 22:04] lillelilje commented on #195
Taylor "The Bug Finder" strikes again!
Try giving it some time instead of killing it, but I'll move this to a new issue and close this one :)

[2020-08-12 22:04] #195 closed, assigned to nobody

[2020-08-12 22:05] lillelilje opened #198 "Sometimes hangs right before modpack import"
I have  been able to successfully import both .ttmp and .ttmp2 modpacks in the new build. However, I the application will occasionally hang after the step "Importing 94/94 mods from modpack...", never reporting a progress percentage. Killing the process and trying again is usually successful. Seems to be 50/50, usually impacting newly installed modpacks.

[code]

_Originally posted by @taylor85345

[2020-08-12 22:09] lillelilje commented on #198
This, to me, sounds like a race condition, maybe within the framework itself somehow.

Assuming that the issue may be this line... Maybe we need to set some timeout and try again?
https://github.com/fosspill/FFXIV_Modding_Tool/blob/b3abb3c56023bf895143975b101d35f27f78c1b4/FFXIV_Modding_Tool/Program.cs#L525

[2020-08-12 22:12] taylor85345 commented on #195
No problem, and thanks for all the hard work on this! I love the tool!

[2020-08-12 22:16] taylor85345 commented on #198
This happened every other time on my first few runs, but came up less often down the line. After installing ~25 modpacks, several of which I re-installed multiple times do to issues with order of installation, I'd say it happened ~15% of the time

[2020-08-12 22:59] lillelilje commented on #198
That definitely makes it sound like a race condition. Sadly neither @shinnova or I have found any good ways of making it reliably happen.

If you see it happen again could you give it a few minutes and see what happens?
And; Would you mind testing a few extra builds to helps us narrow down the issue?

[2020-08-13 00:42] taylor85345 commented on #198
No problem. Keep 'em coming!

[2020-08-13 03:37] kainzilla commented on #195
I wanted to confirm that the test build seen above appears to correct the issues mentioned as corrected (confirmation, using current working directory) - thanks!

[2020-08-13 03:49] kainzilla commented on #198
EDIT: Oops, just noticed old version always showed 1167/1167 for the example below, it's just the percentage progress counter that never shows / never progresses. I did let the current version run for a very long time before believing it wasn't silently succeeding however. Both current version and test version were encountering this issue pretty reliably for the Hair Refined pack, but

Using the t

[2020-08-13 06:03] taylor85345 commented on #198
I can confirm that I encountered basically the same behavior as @kainz0r, with this issue mostly occuring on large modpack imports. I am confident that Hair Refined hung up on at least two import attempts.

There were also a couple of instances where using Ctrl+C to cancel the command left the hanging ffmt process running in the background with the CPU pegged at 100%, and I had to kill it manually

[2020-08-13 09:36] lillelilje commented on #198
Been running tests for an hour or so now and:
The test ran around 20 times with 0 of them getting stuck on the latest test build.
This was specifically a simple modpack, however, while the hair one is a wizard one.

Will keep trying to reproduce so we can troubleshoot properly.

Update: I've ran over 200 tests now and none has failed with our current test build. Again with simple modpack, so wizar

[2020-08-13 10:50] shinnova commented on #198
[This](https://github.com/fosspill/FFXIV_Modding_Tool/files/5068568/ffmt.zip) is a build that will exit out if import would have ran successfully, for ease of testing. @taylor85345 and @kainz0r, could you test to see if you can still reproduce the freeze?

For reference, a successful import will quit like this:
[code]

[2020-08-13 10:56] lillelilje commented on #198
@shinnova I managed to get a freeze with the test build! It seems to confirm that Wizard modpacks is the issue

Update:
So, this has been a bit of a rollercoaster but it seems like the root cause is found. The only question left is; can the wizard import fail if you answer a question with Y instead of just Enter

[2020-08-13 11:58] kainzilla commented on #198
@shinnova I wasn't able to individually reproduce the freeze with that testing version so far, I did a big batch import of all the modpacks I use (58 packs including large wizard packs like Hair Defined / Face Defined) three times , and it didn't get stuck while processing them.

[2020-08-13 12:06] lillelilje commented on #198
Thank you kainz0r!
We've been able to reproduce it with the current test build and narrowed it down to it being dotnet keeping the thread locked too long when using readkey. We've added a 1sec delay in a separate test build and it seems to now only freeze 1/20 times.

Possible fixes that we see so far:
- Read user input async
- Keep an artificial delay
- Add artificial delay only after the user pr

[2020-08-13 18:00] taylor85345 commented on #198
I am fairly confident that I had at least one instance of a freeze after entering Y in the wizard and going through the selection process, but I don't have it recorded anywhere. Don't know if that is still helpful. Will advise if I am able to recreate.

[2020-08-13 19:38] lillelilje commented on #198
Indeed, the timing changes slightly between the options which changes the likelyhood of crash it seems.

[2020-08-14 07:41] taylor85345 commented on #198
Just had a small Wizard pack freeze up after indicating Y and going through the selection process. Allowed it to sit for ~10 minutes before killing the process.

[2020-08-14 11:25] lillelilje commented on #198
Thank you again!
We are slowly, line-by-line, going through parts of the xivmoddingframework to see if we can find the actual root cause of the locking. I think it may be that the caching worker is started and stopped too quickly under certain circumstances, but still digging through it. Will hopefully have a new test build out in a few hours

[2020-08-14 13:52] shinnova commented on #198
@kainz0r @taylor85345 could you try with this latest [test build](https://github.com/fosspill/FFXIV_Modding_Tool/files/5074900/ffmt.zip)?

Fair warning: it will still quit once import would have succeeded, and is filled to the brim with debug messages, so it can become quite spammy if something goes wrong. But, if we are right, it should resolve the freezing issue. Local testing has had 0 failures

[2020-08-14 16:23] kainzilla commented on #198
@shinnova I did give the version you posted a try, and it didn't hang during the process of mass-importing all my mods on 3x testing runs, and then a few additional re-runs on Hair Defined pack.

I'm not 100% certain that's helpful as the prior debug build also wasn't hanging on my system even though the issue was still present, but at least here I haven't been able to reproduce the hang yet.

[2020-08-14 17:45] taylor85345 commented on #198
I've also tested with a fair number of modpacks, and have not encountered any issues.

[2020-08-14 20:01] lillelilje commented on #198
Perfect! New version is out with all the fixes, and hopefully no more crashes!

[2020-08-14 20:01] #198 closed, assigned to nobody

[2020-08-14 20:49] taylor85345 commented on #198
Installed from AUR, and so far so good!

[2020-08-15 10:18] kainzilla commented on #198
Same here, so far this version is working great over quite a few mod installs, resets, etc. It's looking good - thanks again!

[2020-08-19 17:09] Zyian commented on #62
It would probably be also handy to add this to Homebrew for macOS for easy installation. I can try to write one up this weekend since I have a Mac I can use.

https://docs.brew.sh/Adding-Software-to-Homebrew

[2020-08-19 17:11] lillelilje commented on #62
That would be fantastic @Zyian!

[2020-08-19 19:18] lillelilje commented on #62
So, I've looked a bit at it and it should be easy enough to be added to cask at least, if that allows to just use the precompiled and packed versions we have here already. If it requires building from source it'll be a bit more work of course, but the build.sh script shows the general idea at least :)

If you try this and have any issues please poke me here and I'll provide as much assistance as I

[2020-08-20 10:59] zeparu opened #202 "[ISSUE] WARNING: Found a mod applied by an unknown application, only using FFMT"
Im using an automated installer script [(zsh)](https://pastebin.com/JqHFubra), to automatically install a bunch of mods that i put in a folder

but sometimes it feels like specific files will trip up the program and it will report that the game has been modified by a different program

**Describe the bug**
-> install "problematic" mod
-> install another mod
[code]

**To Reproduce**
only certain mo

[2020-08-20 11:10] lillelilje commented on #202
[code]

[2020-08-20 11:25] lillelilje commented on #202
Both @shinnova and I have been unable to reproduce the issue with the modpack you linked, but I have seen the issue before.

Since the "unknown application" is blank in your case it is safe to continue, though.

We'll go through the relevant parts of the code and see where it goes wrong

[2020-08-20 11:27] lillelilje commented on #202
This seems to likely be a framework bug. I think the best solution would be to not throw a warning if the unknown application is blank.

[2020-08-20 12:32] shinnova commented on #202
@zeparu
Could you test with [this version](https://github.com/fosspill/FFXIV_Modding_Tool/files/5102982/FFXIV_Modding_Tool-linux-0.9.3.2-test.zip), and give me the output of the debug text of the previous import, if you get the unknown error again? Please reset your game before testing.

[2020-08-20 12:40] zeparu commented on #202
[code]

[2020-08-20 12:45] shinnova commented on #202
Thank you, that confirms the suspicion it is an issue in the framework. Our next release will ignore blank source names.
Out of curiosity, can you make this happen without the --noproblemcheck?

[2020-08-20 12:49] zeparu commented on #202
yes, on normal release and the test version it still happens without skipping problemcheck

[2020-08-20 21:14] #202 closed, assigned to lillelilje

[2020-08-25 07:05] ashkitten commented on #62
trying to package this for nix, but i'm getting this error when running `ffmt pc`:
[code]
it seems like `Path.Combine` is using the wrong path separators for linux. is there something wrong with how i'm building it?

nix expressions here: https://gist.github.com/ashkitten/0af3ccde2c8d0fae5bf7f54b38eadaf3

edit: `ffmt v` works fine and outputs the correct version. it seems like `xivModdingFramework

[2020-08-25 07:16] lillelilje commented on #62
Path.Combine is done correctly, but it seems we need to update the submodule as the commit isn't including our path fixes.

[2020-08-25 07:23] lillelilje commented on #62
I've changed the xivmoddingframework submodule to track the correct commit.

The issue was that while we have already fixed the paths in the framework with a PR we did forget to update the submodule to track the fixed commit.

[2020-08-25 07:31] ashkitten commented on #62
can you tag this change since v0.9.3.2 is broken when built from source?

[2020-08-25 07:46] lillelilje commented on #62
Since that tag was broken I redid it with the proper fix and re-released. While not best practice it should get the job done in this case.

The next version will likely also be out today with some small fixes. That will of course be a new tag

[2020-09-08 21:53] lillelilje opened #208 "Accept multiple modpacks at once"
FFMT should accept multiple modpacks at once.
Preferably getting rid of -t and just accept free standing paths at the end of the commands - or between mpi and flags, for instance.

[2020-09-09 17:15] lillelilje commented on #208
Work on this is started. Idea is to make -t redundant by allowing:
`ffmt mpi mymodpack.ttmp --all`
`ffmt mpi --all mymodpack.ttmp `
`ffmt mpi --all *.ttmp `
`ffmt mpi modpack1.ttmp modpack2.ttmp --all  `

[2020-09-13 20:01] lillelilje commented on #208
https://github.com/fosspill/FFXIV_Modding_Tool/commit/e8503c1c2748681a47e78421ae00e349570a28d8

[2020-09-14 22:02] #208 closed, assigned to nobody

[2020-09-15 11:48] lillelilje opened #212 "Testing needed: Version 0.9.5"
0.9.5 is a pretty big release with many changes and we'd love for people to help test and report issues.

[2020-09-15 11:49] lillelilje commented on #212
@zeparu, sorry to contact you this way!

I remember you were using a script to install mods in the order you'd want.

The newest version supports installing multiple modpacks at once:
`ffmt mpi path/to/my/modpacks/*`

It would be fantastic if you could help test and provide feedback if there is anything else that would make it easier for you to use!

I had a peek at your script again and I think t

[2020-09-15 12:29] zeparu commented on #212
import seems to work, but it would be great if at the installing stage (after finishing all wizards), it would still say which mod its currently installing, i can only guess which one its doing right now based on the amount of mods in the modpack

[2020-09-15 12:32] fosspill commented on #212
That's a very fair point and should be easy to add!

[2020-09-15 12:52] lillelilje commented on #212
In the next version the message will look something like:
[code]

[2020-09-15 15:37] taylor85345 commented on #212
I've also tested out re-importing all of my modpacks using this feature, and it worked without a hitch. I've also been using a script until now and this is great.

I do wonder if it would be possible when importing multiple modpacks with the -a / -all flag, to also be able to use the -w flag to override individual modpacks that do require manual intervention. I have a couple of packs that I only u

[2020-09-15 15:54] lillelilje commented on #212
Oh, I didn't even consider that possibility.
For now you can go without the --all and pick "import all" on the modpacks you would use --all on.

I wonder if this would be the cleanest syntax for importing mp2.ttmp2 with wizard and the rest without?
`ffmt mpi mp1.ttmp2 mp2.ttmp2 -w mp3.ttmp2 --all`

^ This one is problematic with how we parse stuff today and would make the logic a bit confusing in

[2020-09-15 16:01] taylor85345 commented on #212
Keeping in mind that my "programming" knowledge is limited to the most rudimentary form of bash scripting, what I had envisioned would be something like:

`ffmt mpi mp1.ttmp2 -w mp2.ttmp2 mp3.ttmp2 -w mp4.ttmp2 mp5.ttmp2 --all`

Where in this example, mp2.ttmp2 and mp4.ttmp2 are specifying wizard import, while still honoring the originally specified order.

[2020-09-15 16:13] lillelilje commented on #212
Yeah, that would indeed work but I do find it lacking when it comes to how intuitive it is.

I guess we could discuss more creative ideas. What about having a optional separate configuration file for each modpack where you could define all kinds of stuff? That may be very overkill though.

What about this idea @taylor85345: We make a separate command, say `ffmt modpack convert mp2.ttmp2` which wou

[2020-09-15 16:18] shinnova commented on #212
By making the -a and -w flags positional and take an optional argument, we could have it so that the user can override individual modpacks, but choose the global flag by defining it at the end of the command. I do agree with fosspill on how not intuitive that solution is though.

The conversion sounds like a good middle ground, with the added benefit of starting work on modpack editing functionali

[2020-09-15 16:20] lillelilje commented on #212
Truth be told, the convert command wouldn't really be more intuitive. Both the flag juggling and the new command options would have to be documented properly to be understood.

[2020-09-15 16:20] taylor85345 commented on #212
I'd say that converting modpacks could definitely work as a last ditch effort, and I'm all for modpack editing functionality, but this approach is probably better in the long run if we can figure out the syntax.

I do like your "creative" solution above from a readability standpoint, but I would worry about breaking tab-completion in some shells. I'm on fish, and tab-completion is a godsend for th

[2020-09-15 16:35] lillelilje commented on #212
Yeah the w: solution isn't nice due to many things.

Honestly I'm leaning towards saying that if you *need* wizard for a few specific modpacks it belongs in its own import order, and if you really want to ensure that wizard is always used the only clean way of doing it is converting it.

Another idea... Just thinking out loud: What about being able to do a dry-run of the "special" imports and have

[2020-09-15 16:40] zeparu commented on #212
remembering import settings would be a huge plus, because right now im still spending like 5 minutes typing 1 or 2 and enter, and with it, my importing would be completely automatic

[2020-09-15 16:41] lillelilje commented on #212
Would give us another unique feature over Textools too :^)

What do you think @taylor85345? It seems that would resolve the most needs at once while remaining decently intuitive.

[2020-09-15 16:52] taylor85345 commented on #212
Yes, I also agree that the Dry Run options could be an excellent solution, combined with your idea above of separate configs per-modpack. Big full-wizard modpacks like the Hair Defined would be so much more manageable that way.

I think that per-modpack configs could also make post-import management a lot easier than the current method of hunting through the modlist.cfg file.

[2020-09-15 16:54] lillelilje commented on #212
We already have a lot of work done on a better "post-import management" solution which lets you browse through and enable/disable what you want, or even use SQL queries to  directly modify the database to your liking.
It's being down prioritized to get Exports and Imports of textures and models in place though.

A per-modpack config would indeed work like a bit of a bandaid until a better solution

[2020-09-15 16:58] lillelilje opened #213 "[FEATURE] Per Modpack import configuration"
Yes, I also agree that the Dry Run options could be an excellent solution, combined with your idea above of separate configs per-modpack. Big full-wizard modpacks like the Hair Defined would be so much more manageable that way.

_Originally posted by @taylor85345 in https://github.com/fosspill/FFXIV_Modding_Tool/issues/212#issuecomment-692841600_

[2020-09-15 17:12] lillelilje commented on #213
## Intro

The config file contains:
 - The name of the modpack!
 - The SHA sum of the modpack, so we can sanity check.
 - The chosen method (Wizard / All). Doing All would override the next point.
 - The Enabled and Disabled mods.

json may be the logical choice, but I do like the way our global config file is parsed so maybe that would be a cleaner choice.

For huge modpacks this will still be a

[2020-09-18 10:42] #212 closed, assigned to nobody

[2020-09-28 13:26] meoowstics opened #221 "Having a hard time understanding the download steps?"
I'm not sure if this is the place to post this but this is the only place I could find to contact ^^;

I'm trying to install ffmt for Mac and it says to download and extract the universal release and I can't at all find it. In general, reading everything as someone who's new to modding at all, it's all very daunting and I know this isn't directly related to the working of the app itself but is the

[2020-09-28 13:42] fosspill commented on #221
Thank you!
First, as a bit of information: we are working on a proper single-executable release, however, a bug (or flaw) in dotnet has proved that tricky so it's not our current focus.

Now, I see I forgot to change the wording properly. So, while I'm fixing that here is the general rundown:

1) Make sure dotnet core runtime is installed.
2) Download the right release version for you. As of writi

[2020-09-28 13:59] lillelilje commented on #221
Thank you!
First, as a bit of information: we are working on a proper single-executable release, however, a bug (or flaw) in dotnet has proved that tricky so it's not our current focus.

Regarding images: Until version 1.0 we'll rapidly change anything we feel needs changing so until then I will keep the guide as mostly text.

Now, with that out of the way I've updated the guide to match how we na

[2020-09-28 14:34] lillelilje commented on #62
FYI: After the next release (current Default branch) we should be completely compatible with Homebrew as no blobs will be in our repository.

My main concern is that this is a rather niche piece of software which would likely exclude anyone from submitting it to core, and I'm unfamiliar with cask's take on niche software.

Someone will likely have to maintain our own FFMT Tap here on github: https

[2020-09-28 16:19] lillelilje commented on #213
dry-run is done, next up is saving the information somewhere instead of doing absolutely nothing

[2020-09-29 07:30] lillelilje commented on #221
@meoowstics since you've been quiet for a while: if you want we could chat about this on a platform of your choice and I could guide you through the process.
If not needed I'd love a reply to this issue.

[2020-09-29 18:35] lillelilje commented on #62
Anyone on Mac able to confirm if this works as expected?
https://github.com/fosspill/homebrew-ffmt

Basically: `brew install fosspill/ffmt/ffmt`

[2020-09-29 18:37] lillelilje commented on #221
We've made a early version of a release on homebrew, this may make it easier for novices to get started as well.

Feel free to give it a go:
1) Install homebrew (https://brew.sh has the command you need to run)
2) Run `brew install fosspill/ffmt/ffmt`
3) Run `ffmt setup`

[2020-09-29 20:21] Zyian commented on #62
Apologies for not getting around to this, I had forgotten.

I just tried out the brew install, works great on the first try (MacOS):
[code]

[2020-10-03 12:24] lillelilje commented on #221
Closing issue, but feel free to reopen it and I'll gladly work with you to make it work for you!

At 1.0 release we'll make sure to have a more detailed installation guide. Note that basic terminal knowledge will always be needed though.

[2020-10-03 12:24] #221 closed, assigned to nobody

[2020-12-01 16:01] lillelilje commented on #62
The PKGBUILD and .SPEC file (and more to come?) are now available at https://github.com/fosspill/FFMT-Packaging

[2020-12-08 12:56] zeparu opened #227 "[FEATURE] Patch 5.4 Compatibility"
New patch came out today, modding tool does not work yet with new patch.

For me, fails right at creating index backups, heres the error message

[code]

[2020-12-08 13:11] shinnova commented on #227
Could you please test [this build](https://github.com/fosspill/FFXIV_Modding_Tool/files/5659440/FFXIV_Modding_Tool-linux-patch5.4.zip)?

[2020-12-08 13:30] zeparu commented on #227
tested it

i tested backing up indexes (worked)
installing mods (with and without wizard) (worked)
checked ingame to see if they applied properly (worked)

[2020-12-08 15:21] shinnova commented on #227
Thank you very much. The latest release now has patch 5.4 support!

[2020-12-08 15:21] #227 closed, assigned to lillelilje

[2020-12-08 18:59] NoakPalander opened #229 "Problem running on 5.4"
No matter what I run, except "ffmt setup", I receive the same problem
[code]
Running the version command yields:
ffmt 0.9.7.0
Game version 2020.12.2.0, as for the OS it's arch 5.9.9

[2020-12-08 19:07] shinnova commented on #229
I'm curious, did you remember to reset your game before letting the game update? You can try placing [these](https://github.com/fosspill/FFXIV_Modding_Tool/files/5661273/5.4-Indexes.zip) in your backup directory and then running `ffmt problemcheck`

[2020-12-08 20:51] NoakPalander commented on #229
No I did not, however the game runs fine it's just that no modpacks are willing to import. I'll try running the copying the indices and see how that'll do.

[2020-12-08 21:54] lillelilje commented on #229
If you update the game without resetting you *will* break stuff unless you are super lucky (Or rather, if the update doesn't require a reset - which is pretty rare). FFMT and Textools for that matter, will not let you import unless you have valid - clean - backups. So, this is expected behavior.
Maybe we should consider giving you the option of ignoring the issue, but that would just cause more pr

[2020-12-09 12:10] NoakPalander commented on #229
Yeah that made it work. Just unpacked the dir and removed the compressed folder. Afterwards both problemcheck and imports ran fine and it added the mods. Having a `--force` option that'd issue a warning could be good idea.

[2020-12-09 12:10] #229 closed, assigned to nobody

[2020-12-09 12:33] lillelilje commented on #229
That's great news! Glad it fixed it.

Don't think we'll add a --force option as it would just cause issues in the long run. It's better that you are forced to fix your indexes to keep going.

[2021-02-09 00:35] Kamoedesu opened #231 "Having a hard time installing and setting up on Pop OS Linux"
I've been able to make it as far as the last step of manual install, I can get the list of commands to open up in Terminal with `./ffmt` but trying to use any of the commands to continue with the setup simply gives me `command 'ffmt' not found`.

Bear in mind I'm a very new Linux user, barely a few days into it at this point and I have very little knowledge of anything so far, so I wouldn't be off

[2021-02-09 07:34] lillelilje commented on #231
Try to run `chmod +x ffmt` in the folder which contains the ffmt executable and run `./ffmt help` afterwards.

[2021-02-09 14:21] Kamoedesu commented on #231
EDIT: I got it, I wasn't being specific enough. I'll leave this open in case I have any additional issues, but I think I might have the hang of it by now.

[2021-02-09 15:38] Kamoedesu commented on #231
I've got it up and running, most of my mods are functional except for one, I'm getting an error

[code]

Is that just a limitation of the tool, or is that something I can fix?

[2021-02-09 16:58] lillelilje commented on #231
@shinnova was just able to reproduce the issue independently! She's been troubleshooting for a while already.

It would be super helpful if you could mention which mod it is, and if it is something you'd rather not write here please send me an email or tell me how you'd prefer to be in touch about it!

<details>
  <summary>@shinnova managed to make the issue happen with this mod.</summary>
   "Nud

[2021-02-09 17:30] Kamoedesu commented on #231
I don't mind, it's sfw and it's ["Naty's Mani-Pedi Mega Pack"](https://www.xivmodarchive.com/modid/461). So far I haven't encountered issues with any of my other ttmp files besides this particular one, so my overall experience in XIV on Linux has been a resounding success thanks to people like you and everyone else who's made this tool work as well as it does.

If you use Discord and you'd prefer

[2021-02-09 18:00] shinnova commented on #231
I think I managed to find the root cause of the issue and have fixed it. I can't reproduce the error on my end anymore, but if you don't mind, could you test [this build](https://github.com/fosspill/FFXIV_Modding_Tool/files/5953268/FFXIV_Modding_Tool-linux-0.9.8-test.zip) for me and let me know if it works for you too?

[2021-02-09 18:04] Kamoedesu commented on #231
I can, I just need to know some things since I'm still very new to this. Do I need to back anything up, and how do I go about setting up this new build, is it a simple "extract and it works" or do I need to refer back to the setup guide again as if I was doing this again from the start?

[2021-02-09 18:09] shinnova commented on #231
It's a simple extract and it works. You can even overwrite your previous files, it won't hurt anything. ^^

[2021-02-09 18:16] Kamoedesu commented on #231
Excellent, it all worked perfectly! The mod works now, and that concludes my full mod backup on my new OS. Thank you so much for the help, and I'm glad I was able to be of some menial assistance myself.

[2021-02-09 18:29] lillelilje commented on #231
No, thank *you* for making FFMT just a slight bit better!

A full new release will soon be out with a couple of other small fixes as well. Closing the issue, but make as many as you want and ask all the questions you need. Going from (presumably) Windows to Linux and then using command-line tools is not a small step :)

[2021-02-09 18:29] #231 closed, assigned to nobody

[2021-02-10 09:25] zeparu opened #236 "[ISSUE] AUR package update to 0.9.8-2 fails because of checksum"
[code]
update yesterday to 0.9.8-1 worked without issue

[2021-02-10 10:07] shinnova commented on #236
What happens if you delete `~/.cache/yay/ffmt-bin/FFXIV_Modding_Tool-linux-0.9.8.zip` and try again? It looks like yay is trying to reuse the previously downloaded zip file because the name didn't change, but the validation fails because the zip file included with the release was updated (hence the 0.9.8-2 update) and thus has a different sha256sum.

[2021-02-10 10:20] zeparu commented on #236
oke works

[2021-02-10 10:20] #236 closed, assigned to lillelilje

[2021-02-21 16:44] richard-tirta opened #237 "Mac: Certain mods makes game load black screen"
--------------------------------------------------------------------------------------------------------------------------------------------------
### 13/11/21 Update / Solution
- Install the windows version of FFXIV with this guide https://github.com/seathasky/FF14-MAC_ModSupport
- Mod the game through self-contained `ffmt` or with Penumbra.
-------------------------------------------------------

[2021-02-22 13:46] lillelilje commented on #237
This is very interesting as earlier versions has worked fine on Mac.
You'll have to excuse possible dumb questions here, though.

If you run `ffmt reset` your game returns to a working state?

Has it worked previously for you?

Can you start the game in console? Does that provide any output?

[2021-02-22 16:07] richard-tirta commented on #237
If I run ffmt reset my game returns to a working state.
The game itself has work previously but the ffmt has not.
I started the game by dragging it to terminal and it starts the launcher but does not provide any output.

[2021-02-22 16:22] lillelilje commented on #237
Another question then, and this comes down to lack of knowledge:
Do you run FFXIV through some sort of winewrapper on your own or do you use the official version for Mac?

If you are using the official version I'm afraid I'm unsure about how to troubleshoot.

[2021-02-22 16:24] lillelilje commented on #237
@hybridindie Sorry to mention you like this, but I believe you've ran the game on MacOS with ffmt? Is it now broken for you too?

[2021-02-24 12:11] littleclay commented on #237
As another data point, I use the official macOS FFXIV client and I know that, as of version 5.3 of the game, previously FFMT worked. I just tried loading a mod with FFMT that worked on my Mac before and I see the same issue (e.g. the game hangs). When I run ffmt reset the game goes back to a working state. My OS is also Catalina (10.15.7).

[2021-02-24 15:07] shinnova commented on #237
Could you test with the previous release of ffmt? That would be version [0.9.7](https://github.com/fosspill/FFXIV_Modding_Tool/releases/tag/v0.9.7). This will help us figure out if the regression is in ffmt, the framework, or the game client itself.

[2021-02-24 16:01] richard-tirta commented on #237
~~Assuming I can't use homebrew for 0.9.7.~~
~~I downloaded and try to use manual install, but Mac is screaming to me since it's not an approved developer apps.~~
~~I had to bypass one by one of the files. But doesn't seem I can't execute with ffmt but ./ffmt?~~

Just tested with 0.9.7 it's showing same symptoms.

[2021-02-24 16:17] lillelilje commented on #237
Ah, what a shame.

If 0.9.7 had worked we would have known that the issue was either in ffmt or the xivmoddingframework, but since you found the same symptoms it may very well be a game client regression as well.

I think the best next step would be for me or @shinnova to buy a mac license and test on proper mac hardware.

[2021-02-24 16:50] hybridindie commented on #237
@fosspill Sorry for the delay here, you know bills and all. I'm not seeing any issues. Just reset everything and made sure to start fresh. He's the steps I took and mind you I'm on Big Sur 11.2.1 with an i9 and 32G so it's a beefy system.

1. Wiped FFXIV and all Mods
2. Homebrew cask is integrated now so that command is defunct just `home-brew install dotnet-sdk`

This unfortunately installs a wro

[2021-02-24 18:02] lillelilje commented on #237
Alright, that's interesting. Will look into the dotnet-sdk issue!

There is a pattern here though and even if it may be of pure coincidence I think it is worth pursuing for now:
Everyone reporting the issue is still on Catalina but the game client has been officially updated to support Big Sur I believe. This may be a regression due to changes in how codeweavers has to move forward to support newe

[2021-02-26 18:22] richard-tirta commented on #237
Upgrade to Big Sur and it still showing same issue. Although I didn't take the advice of wiping FFXIV, mods and using the self-contained version.

[2021-02-26 18:31] hybridindie commented on #237
I would suggest trying the self contained version. There were massive changes to the underlying systems leading up to and within Big Sur. You aren't gaining anything by trying to compile it yourself either. This doesn't run inline with FFXIV so performance isn't an issue.

[2021-02-27 13:55] lillelilje commented on #237
If self contained version works for more people we should remake the recipe for brew to just grab the precompiled version.

[2021-02-27 15:02] hybridindie commented on #237
I don't see anything wrong with this. Truly, unless someone is / wants to help and contribute there really is no reason to compile it.

[2021-03-01 17:20] lillelilje commented on #237
Fair points. I still prefer distributing source over binaries as the likelihood for tampering is lowered somewhat. Regardless I agree that it is the right choice in this issue.

So I have a question now. There are two different versions we've packaged for MacOS. Does both work?

Installer: https://github.com/fosspill/FFXIV_Modding_Tool/releases/download/v0.9.8/FFXIV_Modding_Tool-mac-selfcontained-

[2021-03-14 14:13] lillelilje commented on #237
If someone (@richard-tirta?) could test the two linked versions that would be fantastic! I'd love to know which alternative would work best

[2021-03-27 13:36] richard-tirta commented on #237
I did this:
Wiped FFXIV including the config files
Installed  https://github.com/fosspill/FFXIV_Modding_Tool/releases/download/v0.9.8/FFXIV_Modding_Tool-mac-selfcontained-0.9.8.zip.
Install FFXIV
Re-setup FFMT
Install BodyType2 (https://www.xivmodarchive.com/modid/17279)
Start up the game. The game freeze.

Disable the mods (ffmt mods disable). The game start normal.

[2021-04-13 10:21] zeparu opened #242 "[FEATURE] Patch 5.5 Compatibility"
new patch new me

current output, trying to backup index files
[code]

[2021-04-13 10:24] lillelilje commented on #242
Indeed!

A new release is already lined up as a draft here. I'd estimate an hour until it's ready

[2021-04-13 12:33] lillelilje commented on #242
https://github.com/fosspill/FFXIV_Modding_Tool/releases/tag/v0.9.9

[2021-04-13 12:33] #242 closed, assigned to lillelilje

[2021-04-13 12:36] lillelilje commented on #237
Sorry about the slow reply here, but I'm very unsure about what to do here since the selfcontained version seems to work for some but not others.

There is however a new version out now with 5.50 support. Could someone please test if the newest version, by some miracle, works better?

[2021-04-13 13:06] lillelilje commented on #237
@shinnova Could we easily make a mono version as well to see if that would be better?

[2021-04-15 00:56] vvsRin commented on #237
i use the self contained version and it works fine, some mods caused it to crash on older versions but i will test on new release.

[2021-04-16 12:10] shinnova commented on #237
What kind of mods would cause a crash? And do they still crash on the newest release?

That shouldn't be a problem!

[2021-04-16 17:57] richard-tirta commented on #237
So. I think I might unconsciously using the homebrew version. Since I decided to clean my homebrew and now it's just not running ffmt at all.
However, wonder how to run the self contained one? I click the ffmt file and I got this.

<img width="878" alt="Screen Shot 2021-04-16 at 10 55 21 AM" src="https://user-images.githubusercontent.com/1987652/115065029-7df48700-9ea2-11eb-8bcb-72dee9931f5c.png">

[2021-04-16 18:00] lillelilje commented on #237
Nice! You are so close.
Open your terminal through launchpad (I think that's what it's called?). Then type `cd /Users/Richard/Downloads/FFXIV_Modding_Tool-mac-selfcontained`
and then `./ffmt v`

[2021-04-16 18:28] richard-tirta commented on #237
Yeah, still not working.
Somehow my gut feeling lies within the mod itself. Here I'm trying to do [TheBody 2.0](https://www.xivmodarchive.com/modid/17279), trying to see if there's other male mods I can use but mostly requires the body as base. Since if I disable the mods then the game will load fine.
And is there a way to delete the mods once imported? Trying to see if different mods configuratio

[2021-04-16 18:37] lillelilje commented on #237
https://ffmt.pwd.cat/#/userguide/usage/mods

Basically: Edit the modlist.cfg file (disable the mods you don't want) and run `ffmt mods refresh`
Not very elegant. Working on better solution slowly, but it gets the job done

[2021-04-17 18:26] vvsRin commented on #237
@shinnova its just random ones actually (usually newer ones). Most mods pre-2021 work fine, and there's also ones post 2021 that work. Usual crashing for me is mostly newer clothing mods, i'll look and test some now and will update on if they're more stable.

[2021-04-19 17:09] lillelilje commented on #237
Yeah would be super handy to see which mods it is.

I'm afraid that this is a regression in FFXIV for Mac itself since it's running its own proprietary wine wrapper, but it may also be something in specific parts of the framework code that we could work around (or worst case error out or warn if we believe it can cause mac specific crashes)

[2021-04-20 01:54] vvsRin commented on #237
update: still had a clothing mod crash the game (Peacock princess) on the ffxiv mod site. I've tested a few mount mods which work fine, most face mods work as well (i have a few) and also hair mods work as well. I've only experienced crashes from clothing mods and one mod that modified viera ears.

also in the future would there be an option to use mods for eyes? Considering they use actual .pngs

[2021-04-20 10:01] shinnova commented on #237
Will take a look at Peacock princess to see if there's something that stands out about it. Do you have examples of clothing mods that work? So I can compare them.

We're currently working on being able to import/export textures and models directly which would allow you to do that. In the meantime, if you can get someone to import the .png onto the eye(s) you want and turn that into a .ttmp(2) file

[2021-04-20 14:28] richard-tirta commented on #237
<img width="1792" alt="Screen Shot 2021-04-16 at 11 20 12 AM" src="https://user-images.githubusercontent.com/1987652/115413297-e9439f00-a1a9-11eb-938e-4ece2b9238ab.png">
this was the error I got with the body. I excluded the file in question but it still crashed out though.

[2021-04-20 15:26] vvsRin commented on #237
@shinnova Yes sure! the current mod im using for clothing that works is MHW - Golden Dream(Thavnair, because it comes with two mods in the folder but i only used one)

[2021-04-22 00:03] richard-tirta commented on #237
Some good update. I got the game running while A mod is installed. However, I'm very cautious as only installing few mod packs. When I load the game it doesn't seem to do anything I'm expecting so I guess the mod pack isn't hitting the mark.
However, I'm being cautious not to install all as I don't want to crash the game.
<img width="775" alt="Screen Shot 2021-04-21 at 4 54 23 PM" src="https://use

[2021-04-22 00:17] richard-tirta commented on #237
Ok here are new observations:
Unfortunately I hit the corrupted mod which caused the game to crash. However, there's no way for me to fall back and find which one is corrupted due to this reason:
- `/ffmt mods disable` will allow the game to start and not crash.
-  editing the modlist and setting all to false, and doing `/ffmt mods enable ` or `/ffmt mr` will still crash the game although I assume

[2021-04-22 00:42] richard-tirta commented on #237
So I hit the mod pack that is corrupted. However, there's no way for me to pinpoint that and find which one is due to following reason:
- Editing the config and do `ffmt mr` will still cause the game to crash unless you do `ffmt mods disable`
- `ffmt mods enable` would crash the game regardless your config.

[2021-04-22 02:02] vvsRin commented on #237
@richard-tirta try adding them in separately and seeing if it changes anything, then single out which one makes it crash. If nothing changes and it crashes then try a different body mod (Tight&Firm 2.0 works fine), its trial and error with some of them for now.

[2021-04-22 02:04] vvsRin commented on #237
@richard-tirta also you can do ffmt r to reset the mod config

[2021-04-22 13:04] lillelilje commented on #237
Very much appreciate all the testing that has been done here! With more specific mods that we know cause crashes it'll be easier to find a root cause.

[2021-04-23 00:11] vvsRin commented on #237
No problem!

[2021-05-14 00:16] shin-k0101 commented on #237
Some mods freeze when loading game graphics in the Mac version of the FF XIV client. I believe this is a problem with MacOS or the Mac version of the FF XIV client.
The same problem does not occur in the Windows version of the FF XIV client imported with FXIV_Modding_Tool.
The specific name of the mod is often "Bibo+" for example, which is a relatively new mod.

[2021-05-17 11:00] lillelilje commented on #237
Sadly this is my conclusion as well.

Is it possible to play the Windows version of FFXIV on Mac through Wine?

[2021-05-22 13:58] zeparu commented on #213
any updates on this btw? or any other method of not needing to reinstall all mods with all options manually? i think in most guides for textools, they just tell you to combine all installed modpacks into one giant modpack which you can then install again

[2021-05-22 21:25] lillelilje commented on #213
Thanks for nagging a bit! Truth be told, I recently became a parent and am therefore a bit behind on many things I'd like to do - this is one of them. The other main contributor - @shinnova - is the other parent, so in general FFMT will move at a pretty slow pace when it comes to large changes.

With all that said, I've looked a bit at the framework and I wonder if we could throw together a relati

[2021-05-22 23:41] shinnova commented on #213
It looks really easy to implement a simple version of modpack creation. I'll make a quick version which will make a modpack out of your currently enabled mods.

[2021-05-24 15:37] lillelilje commented on #213
Modpack creation is currently being worked on in #8
The modpack configuration files, however, aren't. It honestly may be too much work for a nice-to-have feature when modpack creation is in place.

If something like this issue is still needed I'd rather cache the previous selection and ask if the user would like to re-use that during wizard import (and with a flag).

[2021-05-24 15:38] lillelilje commented on #8
@shinnova is working on this locally at the moment, but a new branch should soon™ be available with the new code for testing.

Will try to ping interested parties when that's the case.

[2021-05-24 15:40] lillelilje commented on #62
Closing this issue as we now update homebrew, AUR and Opensuse. Other distros can use the prepackaged and/or selfextracting package.

[2021-05-24 15:40] #62 closed

[2021-05-24 22:05] shinnova commented on #8
We now have the `modpack-creation` branch where, as of right now, ffmt is capable of creating a modpack out of your currently enabled mods.

@zeparu I've made a [quick build](https://github.com/fosspill/FFXIV_Modding_Tool/files/6535185/FFXIV_Modding_Tool-linux-creation-test.zip) with this functionality, would you be up for testing it?

[2021-05-25 08:00] zeparu commented on #8
i created a modpack and reinstalled it now, but the installation of 719 mods went by suspiciously quick, i can test after the maintenance is down if everything went well

[2021-05-25 11:34] zeparu commented on #8
worked for me

[2021-05-25 14:35] shinnova commented on #8
Thank you so much for testing!

I believe the framework caches what mods you have imported for a short amount of time, so if you import those mods again soon after making the modpack the import should go faster than usual.

[2021-05-25 15:21] shinnova commented on #8
@all-contributors please add @zeparu for User Testing

[2021-05-25 15:43] #8 closed

[2021-05-25 15:44] lillelilje commented on #8
Included since 724f8d0358c543941cf9cebc06f168d8f8c818fc

[2021-05-25 17:22] lillelilje commented on #213
This is now partially resolved with the in https://github.com/fosspill/FFXIV_Modding_Tool/releases/tag/v0.9.10

[2021-05-25 22:50] lillelilje opened #250 "[FEATURE] Extend Modpack Creation functionality"
Support creation of Wizards.

Support being able to pick and chose which mods to create a modpack out of.

[2021-06-01 23:27] CasualSuperman commented on #6
I'm not sure if this belongs in a separate issue, but I would also like to be able to extract a direct path - for example, `ui/uld/myccategory2_hr1.tex`

[2021-06-03 20:27] lillelilje commented on #6
Indeed, that is what we've worked a bit on! A Wizard for guided exporting and some query for exporting specific path. Would be awesome if we could then also have some smart tabcompletion!

[2021-06-03 20:28] lillelilje opened #254 "[FEATURE] Penumbra support"
This isn't strictly needed, but being able to import mods to be penumbra compatible - such as the Textools UI provides - would be a welcome function.

[2021-07-20 03:19] MaterialMiko opened #258 "[ISSUE] Bug, Maximum data size limit reached for DAT: 040000"
**The Problem:**

Installing many mods leaves you with an error message during the Data Writing stage of installing new mods, that locks the whole thing. Trying to enable/disable mods after encountering this issue results in not being able to enable mods anymore because the error comes up again and again no matter what you do(including refreshing) besides disabling everything or using 'reset' to d

[2021-07-20 20:55] lillelilje commented on #258
Thanks for the nicely formatted issue!

It took me a bit of code reading and searching, but **this is not an FFMT issue**.

This is an issue due to [the xivModdingFramework, specifically this line](https://github.com/TexTools/xivModdingFramework/blob/master/xivModdingFramework/SqPack/FileTypes/Dat.cs#L96).

Wrote a short test and it seems like we'll have to contribute to the moddingframework with

[2021-07-20 20:57] fosspill commented on #258
Actually: @MaterialMiko which filesystem do you use?

[2021-07-20 21:11] lillelilje commented on #258
pull requested: https://github.com/TexTools/xivModdingFramework/pull/32

[2021-07-23 22:01] lillelilje commented on #258
The PR was accepted into xivModdingTool which means this bug will be fixed during once FFMT is released based on a newer framework version.

@MaterialMiko  could you confirm that the PR covers your filesystem?

EDIT: I see I missed that detail in your issue. Next FFMT release should indeed fix it for you.

[2021-07-28 17:00] taylor85345 commented on #258
I wanted to add to this that there may be a cleanup issue contributing to this problem. I've had this error crop up a few times when applying a large mod that overwrites an existing large mod, such as an update to Hair Defined. Multiple attempts at installing the same mod sees the list of "failed" imports get longer with each attempt. Resetting and installing all mods fresh usually avoids the erro

[2021-07-28 17:17] lillelilje commented on #258
@taylor85345 The XIV Modding Framework does this by design. It always adds mods onto the end. Which means that if you remove older mods you'd just leave empty gaps that it wont fill.

TexTools does have a sort of reclaim space feature to work around this. May it be possible for us to include this in here as well @shinnova ?

[2021-07-28 17:21] shinnova commented on #258
Looks like it will be very straightforward to add, the framework has a dedicated function for defragmenting the game's dat files.

[2021-08-03 22:42] lillelilje commented on #258
:partying_face: A new Framework release is out which includes the PR! @shinnova is working on a release which includes that framework update and a way of reclaiming space

[2021-08-09 16:55] shinnova commented on #258
We've released a pre-release now that should stop this error from appearing again any time soon. @taylor85345 could you see if the defragmenting resolves the cleanup issue? And @MaterialMiko could you see if you still get the size limit error now?

[2021-08-10 16:05] taylor85345 commented on #258
Tested the size limit issue using the current AUR release and then the pre-release. The AUR version failed, and the new pre-release succeeded without issue. I would say the size limit is resolved.

Regarding the defrag function, it looks like the function is pointing to the wrong directory. Running `ffmt defragment" returned the following error:

[code]

The file is located in `/home/taylor/.steam

[2021-08-10 17:59] lillelilje commented on #258
Awesome. This very likely means that if people run textools through wine then the fix counts for them too.

[2021-08-11 05:09] taylor85345 commented on #258
Saw the pull request fixing the incorrect file path, so I went ahead and compiled ffmt myself to try it out. ffmt now points to the correct directory, but the defragmentation process errors out halfway through, leaving FFXIV in an incomplete and unbootable state:

[code]

The function seems to be replacing `040000.win32.dat6` with an incomplete backup file called `040000.win32.dat6.`, and also cre

[2021-08-11 20:22] shinnova commented on #258
Could you try with [this version](https://github.com/fosspill/FFXIV_Modding_Tool/files/6971172/FFXIV_Modding_Tool-linux-0.10.1.zip) and see if that works? I've tested extensively and haven't been able to reproduce the issue.

[2021-08-12 05:04] taylor85345 commented on #258
same issue. Didn't create the extra dat7 file, but otherwise same result.

[code]

Side note, I just moved my install to a new location and symlinked into my wine prefix, which is why the file paths don't match my last post.

[2021-08-22 04:56] taylor85345 commented on #258
To expand on this, I've encountered the same error on two separate installs of Manjaro Linux on different machines. I also just tried starting over with a clean install of FFXIV and importing only the "Hair Defined" modpack, and I still encountered the same error. It seems to consistently impact the file ending in .dat6 and occassionally .dat7

[2021-08-30 18:53] aeroplvne opened #265 "mac : mods freeze my game"
Hi, i'm trying to follow the steps to install FFMT Modding Tool on my mac, but when i arrived at the import one, it says that the command mpi is not found.

What did i do wrong ?
Thanks a lot

[2021-08-30 18:55] lillelilje commented on #265
What does ./ffmt help show?

[2021-08-30 18:57] vvsRin commented on #265
@aeroplvne are you importing a mod?

[2021-08-30 18:58] aeroplvne commented on #265
@fosspill it says : zsh: permission denied: ./ffmt
@vvsRin i never used one but i'd like to try, that's why i'm trying to install everything (for the first time)

[2021-08-30 19:34] vvsRin commented on #265
@aeroplvne is this a problem with installing the tool? or just using the mods?

[2021-08-30 19:37] lillelilje commented on #265
Neither, I think

@aeroplvne you got to make sure you can execute the file. Mac may block that by default, so try to run `chmod +x ffmt`

[2021-08-31 07:52] aeroplvne commented on #265
@fosspill @vvsRin okay everything is working ! i was putting the ">" in front of the text so it wasn't fully working ahah
but now i have an other issue ! so in ffmt everything seems to work perfectly, even the mod installation. But when i run the game, the screen turns black and freeze (i see the mouse, it just freeze before loading).
i tried to install the mod The Body 2.0 M. on my first installa

[2021-08-31 08:54] lillelilje commented on #265
I'm sadly unable to troubleshoot this issue as I do not have a mac license.

Regardless, there is a pinned issue regarding this: https://github.com/fosspill/FFXIV_Modding_Tool/issues/237

There are multiple people that would very much appreciate help figuring that one out, but personally I don't know what else to do about this particular issue.

The main question for me would be: Can you run FFXIV

[2021-08-31 08:54] #265 closed, assigned to lillelilje

[2021-08-31 08:56] lillelilje commented on #237
Would it be possible for anyone to test if the same issue happens when you run the windows version through wine? Or through crossover, for instance? https://www.codeweavers.com/compatibility/crossover/final-fantasy-xiv

Technically the FFXIV mac version is already ran using crossover, but there may be differences.

[2021-08-31 11:06] aeroplvne commented on #237
@fosspill i just tried to import a body mod "ttmp" file and it worked. it's the "ttmp2" that doesn't ! (if it can help in any way)

[2021-08-31 14:44] lillelilje commented on #258
We are still looking into this, rather casually.

Should likely make a little debug build of the framework to figure this one out

[2021-09-03 16:27] vvsRin commented on #237
@aeroplvne its honestly just trial and error with some, i have mostly .ttmp2 files that i use that work fine and a few .ttmp

[2021-09-03 16:28] vvsRin commented on #237
@fosspill ill test crossover later

[2021-11-13 08:02] fatcatsings commented on #237
@fosspill Hello, I just came across this tool recently as I've been working on running the Windows client of FFXIV through the newly optimized Crossover 21 software:

https://github.com/seathasky/FF14-MAC_ModSupport

I had some issues with FFMT but I found this thread and followed the self-contained installer and I was able to successfully mod the Windows client of the game on my Macbook Pro M1 Ma

[2021-11-13 12:19] lillelilje commented on #237
@fatcatsings thank you!

I see the guide you linked specifically mentions Dalamud working. In which case I'd highly recommend testing out penumbra and see if that would work.

Thanks to penumbra I have a feeling ffmt will be less and less needed, so time may possibly be better spent there instead.
Could you test that too?

[2021-11-13 21:06] fatcatsings commented on #237
@fosspill Oh awesome, thank you so much for telling me about Penumbra. I was able to install it via Dalamud and sure enough, it does work well!

That being said, I'm glad to have FFMT as a backup to hard inject mods if I need it. Thanks for all your hard work!

[2021-11-13 21:59] lillelilje commented on #237
That's great news! Also means that you don't have to redo your mods every patch :grinning:

I'll add a link to Penumbra somewhere in the readme so that others may find it too

Further, I'll close this specific issue as it is out of my hands. That's also proven by the fact that the game works fine - even when modded - if ran through crossover, if I understood you right.

So, to reiterate:
- Follow

[2021-11-13 21:59] #237 closed, assigned to lillelilje

[2021-11-17 09:26] lovelydumpling opened #269 "[ISSUE] Blank line when installing modpack"
**Describe the bug**
When trying to install modpacks, I use the ./ffmt mpi (path) command and hit enter. It creates a new blank line where I can type, but nothing else is happening.
Example:
![image](https://user-images.githubusercontent.com/30986053/142173305-540b83fc-84c1-4325-a88f-273e1e403fdd.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run command ./ffmt mpi path/to/modpack.ttmp

[2021-11-17 09:36] lillelilje commented on #269
When you have spaces or special characters in a Linux terminal you'll most of the time have to escape them.

This means that your command should look something like:
`$ ffmt mpi /media/cindyao/LinuxHDD/work/Cin\'s\ Extra\ Special\ Mod\ Packs/The\ hrBody_1_5_1_Cut.ttmp2`

That happens automatically when you use tab to auto-complete the path, but you could also just put " around the path and it shou

[2021-11-17 09:36] #269 closed, assigned to lillelilje

[2021-11-17 09:50] lovelydumpling commented on #269
That worked, thank you so much! As much of a linux newbie as I am, you'd think I'd have tried that because that's also how Windows works. Completely spaced on that one. Thank you for being patient with me :)

[2021-12-16 19:41] DianaNites commented on #258
Would it be possible to get a new release with just the data size fixes? I use the AUR version and I just hit this issue, only to find out "oh its been fixed for months"

Thank you

[2021-12-16 19:44] lillelilje commented on #258
Aiming to have a new version out tonight with endwalker fixes and the data size fixes. No defrag, however.

[2021-12-16 19:59] DianaNites commented on #258
Rad!

That said.. I just tried to reinstall my mods on the pre-release and still got this error?

Im on Arch, ext4 file system, it should work?

[2021-12-16 20:07] lillelilje commented on #258
Yes, ext4 is supported by the framework since https://github.com/TexTools/xivModdingFramework/pull/32

There is still a limit though.

Are you importing modpack after modpack or are you importing one large backup?

[2021-12-16 20:11] DianaNites commented on #258
Im just installing a few mods for the first time, and I wasnt able to install any more than I was before the pre-release, which is odd because the limit should be higher right? It still failed at the same place

[2021-12-16 20:16] lillelilje commented on #258
That's indeed odd, but there may be issues due to endwalker as well.

I'm wondering though if you could double-check which file system your game is actually installed on, and later tonight test with a new `ffmt` version that may fix it all

[2021-12-16 20:17] DianaNites commented on #258
I did double check, it's ext4.
Looking forward to the new version! For now I guess i'll remain on vanilla

[2021-12-16 20:39] fosspill commented on #258
I have a feeling something else is going on here.

@DianaNites could you please run this executable on your machine with the drive path as an argument?

The code is rather simple, in case you'd prefer to build it yourself.
\`\`\`
using System;
using System.IO;

namespace DriveInfo
{
 class Program
 {
   static void Main(string\[\] args)
   {
               var driveInfo = new System.IO.DriveInfo(a

[2021-12-16 20:42] DianaNites commented on #258
Theres no link to the executable, and i'm not set up to build C# code

[2021-12-16 20:44] fosspill commented on #258
Yeah sorry, had some technical issues so I deleted the post.

Here we go again:
I have a feeling something else is going on here.

@DianaNites could you please run this executable on your machine with the drive path as an argument?

The code is rather simple, in case you'd prefer to build it yourself.

[code]

You'll then run `dotnet run driveinfo /path/to/game/drive` after unzipping the file

Ple

[2021-12-16 20:56] lillelilje commented on #258
Yeah sorry, had some technical issues so I deleted the post.

Here we go again:
I have a feeling something else is going on here.

@DianaNites could you please run [this on your machine](https://github.com/fosspill/FFXIV_Modding_Tool/releases/download/v0.10/driveinfo.zip) on your machine with the drive path as an argument?

The code is rather simple, in case you'd prefer to build it yourself.

[co

[2021-12-16 21:00] lillelilje commented on #258
I've ran it and @shinnova did too. We both are on encrypted systems and got "lofs" as the output.
For this release we'll add that as a large file system, but preferable driveinfo would show the real file system, even for encrypted drives.

Please let us know what your output is as well so that we can ensure the issue won't happen in future releases

[2021-12-16 21:00] DianaNites commented on #258
Third times the charm

It reported `lofs`, which is odd and just plain wrong. The only thing I can find describing that is this random manual page https://www.unix.com/man-page/linux/7FS/lofs/

Meanwhile, where I have the game installed

<details>
<summary>Screenshot</summary>

![2021-12-16-155947](https://user-images.githubusercontent.com/5275194/146448286-a9a8d648-5593-47e0-9577-8b3855736c57.png

[2021-12-16 21:05] lillelilje commented on #258
I honestly have no clue. Tested this back in august with no issues.

Likely something changed with how linux reports file system to dotnet, or maybe you have something else special set up? bcache or something like it?

Regardless though, we'll just add "lofs" to the list and hope for the best :) I can't find much documentation on this topic, nor can I find any other c# project that has ran into th

[2021-12-16 21:07] DianaNites commented on #258
I have to ask: Why even have this check at all? Would it be better to just remove it?

Can xix even be *installed* on a filesystem that cant have files bigger than 2GB?

Presumably the filesystem will error if you do something wrong and you can just clean up work?

Plus, none of those limits are accurate, or the function name is wrong. Ext4 can have single files up to 16TiB, and NTFS can have sing

[2021-12-16 21:09] lillelilje commented on #258
That's indeed a valid question, and something we'd have to take upstream.
@shinnova could we override this functionality on our side and just ignore what upstream says?

[2021-12-16 21:16] lillelilje commented on #258
^

That's indeed a good question too

Sure, but we've been leaning on the framework to deal with those sort of functions

That's entirely correct. I threw together a list of common linux file systems and kept the frameworks highest current limit.
It would be fantastic if you'd send them a pull request with proper values.

There is, or at least used to be, an upper limit in the game. Why those exac

[2021-12-16 21:24] lillelilje commented on #258
Yet another reply for you @DianaNites:
This is a quote from the NTFS part of the code: "2 ^35 is the maximum addressable size in the Index files. (28 precision bits, left-shifted 7 bits (increments of 128)"

So that would be the max the game can read, I presume

[2021-12-16 21:31] lillelilje commented on #258
Sent them a pull request to default to max limit and only reducing it where needed.
https://github.com/TexTools/xivModdingFramework/pull/40

[2021-12-16 22:17] lillelilje commented on #258
@DianaNites (and everyone else who follows this issue) sorry about the spam, but I may be the bearer of good news. Please test the following prerelease and confirm if your issue still persists.

https://github.com/fosspill/FFXIV_Modding_Tool/releases/download/v0.10/FFMT-linux-v0.10.1-prerelease.zip

Download the file, unzip it, go into the folder and run `./ffmt mpi xxxxx.ttmp2`

[2021-12-17 00:43] lillelilje commented on #258
After some testing we've decided to release it:
https://github.com/fosspill/FFXIV_Modding_Tool/releases/tag/v0.10.1

Please let me know if there are any issues so we can reopen this issue

[2021-12-17 00:43] #258 closed, assigned to lillelilje

[2021-12-17 00:50] lillelilje opened #271 "[ISSUE] Defrag option broken"
**Describe the bug**
The defrag option causes issues. Breaks dat-files.
https://github.com/fosspill/FFXIV_Modding_Tool/issues/258#issuecomment-897351121

 - FFMT Version: v0.10

Option removed in v0.10.1, but should be investigated further.
May require changes in the framework for dotnet-core / linux specific support?

[2021-12-17 05:29] DianaNites commented on #258
Thanks a lot for your work on this and the new release!

[2021-12-22 22:16] J-H-Freedman opened #272 "Invalid Directory with Wizard"
# To Reproduce
This is what is entered upon request:

[code]
Other attempts included the following:
[code]
which all produced the same result

# Expected behavior
I expect the directory to be added to the config file and the ability to proceed with the next step. If there is incorrect syntax, I would like to know what needs to be corrected.

# Desktop:
 - OS: Pop!_OS 21.10
 - FFMT Version: v0.10.1

[2021-12-22 22:30] lillelilje commented on #272
This is interesting. All you examples (except maybe the second one) should have worked fine.

What's the output of the following command?
```[[ -f "/home/jhfreedman/Games/final-fantasy-xiv-online/drive_c/Program Files (x86)/SquareEnix/FINAL FANTASY XIV - A Realm Reborn/game/sqpack/ffxiv/010000.win32.index" ]] && echo "This file exists!" || echo "This file does not exist!"```

If it says that file

[2021-12-22 22:36] J-H-Freedman commented on #272
Requested output attached

![ffmt_error](https://user-images.githubusercontent.com/37190247/147162695-2400d056-a671-4a90-8ffb-df8a3a931943.png)

[2021-12-22 22:40] lillelilje commented on #272
Thanks. Could you rerun the wizard and input exactly `/home/jhfreedman/Games/final-fantasy-xiv-online/drive_c/Program Files (x86)/SquareEnix/FINAL FANTASY XIV - A Realm Reborn` as your game directory?

Basically (as the examples tries to guide to you) you should be using full path with no escaping. I'll have to reconsider both the method used and examples provided to ensure that this becomes even

[2021-12-22 22:59] J-H-Freedman commented on #272
It worked!
![ffmt_2-1](https://user-images.githubusercontent.com/37190247/147164330-778519bd-6ad9-4c89-845f-05aa1dda7b92.png)

And here is the requested output
![ffmt_2-2](https://user-images.githubusercontent.com/37190247/147164331-6ee4e1d9-3007-4193-9493-5e76627b7f08.png)

[2021-12-22 23:03] lillelilje commented on #272
Thank you!

Coming next release the first time wizard will have examples that looks something like this:

[code]

Note the "/full/" addition there.

The prompt for folders will look something like:
`Enter the full path to your Game Directory (without Escaping): `

Furthermore, as noted earlier, we'll auto-detect the folder you provided so others don't have to write anything at all.

The next step

[2021-12-22 23:03] #272 closed, assigned to lillelilje

[2022-01-04 22:02] lillelilje commented on #272
The current Default branch has fixes for everything mentioned in here and more. @shinnova could we have a test-build in here for others to test and confirm

[2022-01-04 22:11] shinnova commented on #272
Aye, here's some test builds for [linux](https://github.com/fosspill/FFXIV_Modding_Tool/files/7810674/FFXIV_Modding_Tool-linux-ftsetup-test.zip), [mac](https://github.com/fosspill/FFXIV_Modding_Tool/files/7810676/FFXIV_Modding_Tool-mac-ftsetup-test.zip) and [windows](https://github.com/fosspill/FFXIV_Modding_Tool/files/7810677/FFXIV_Modding_Tool-windows-ftsetup-test.zip)

[2022-01-04 22:12] lillelilje commented on #272
@J-H-Freedman Mind testing? Do exactly what you did before and see if it causes any issues. We've already tested of course, but always good to have confirmation

[2022-04-18 22:57] Goelant opened #277 "Lutris Steam version: Invalid game directory"
**Solution here: https://github.com/fosspill/FFXIV_Modding_Tool/issues/277#issuecomment-1102928626**

**Describe the bug**
I'm trying to setup FFMT and i'm trying to change textures from a steam-downloaded FF14. As i'm setuping, I give where are my files but i'm getting the title's error, no matter what.
I tried to manually change the config file but it's not working, ffmt keeps saying that I didn

[2022-04-19 16:06] lillelilje commented on #277
For now I'd just modify /home/xxxx/.config/FFXIV_Modding_Tool/config.cfg by hand!

What folders are in your FFXIV Online folder? could you show me?
Reason I'm asking is that validation is done within the folder to ensure it seems like a proper install

The specific code that fails is:
                 if(!_ValidDirectory(Path.Combine(_GameDirectoryFromConsole, "game", "sqpack", "ffxiv"), "GameDire

[2022-04-19 17:53] Goelant commented on #277
OH I'm so sorry I filled a bug for that : As I was searching for the .index file, I found the folder where I was trying to install ffmt didn't contain any game files :
![image](https://user-images.githubusercontent.com/101263819/164063309-6cfb09f7-c8b6-4954-9f08-d0433224b538.png)

As this is the __Lutris Steam version__ of FFXIV, used only to create a "steam link" to the Final Fantasy XIV [QuickLa

[2022-04-19 20:37] #277 closed, assigned to lillelilje

[2022-04-19 20:41] lillelilje commented on #277
Hah, don't worry. I reworked that a little while ago so I thought I had broken it for a second! Happy you found the issue. I've added a link to your solution in the OP

[2022-07-11 19:14] vaulknerx77 opened #281 "Getting invalid ttmp file error"
Hiya!
First of all, thank you so much for building a mac-compatible tool for FFXIV mods, I'm really excited to use it. However, after following all the install instructions, I'm getting an error when attempting to install a ttmp file. It reads out that the ttmp in question is invalid– I've attached part of the error here. I tried this on two separate ttmps and both popped the same error.

Addition

[2022-07-11 19:59] lillelilje commented on #281
That's very interesting. @shinnova time to have a look?

[2022-07-11 21:18] lillelilje commented on #281
Spaces should be fine, but try to put " around the whole path?

Basically all the code does to check if it's a valid ttmp file is checking if it exists and if it has the right extension, so that means it's not finding a ttmp in the path you are using.

Could you show the full command you ran + output? Feel free to anonymize the path and such as long as it follows the same structure
And, ry somethi

[2022-07-11 21:28] vaulknerx77 commented on #281
For some reason it's duplicating the first two in the filepath so: Users/my name/Users/my name ???

if I try any variation, it's not tacking on the initial Users/my name so it can't find the directory
![Screen Shot 2022-07-11 at 5 21 14 PM](https://user-images.githubusercontent.com/109105982/178361525-8f223273-5029-4d89-952f-ecea3c6d7603.png)

[2022-07-16 12:50] lillelilje commented on #281
Ah that's interesting then. What happens if you write the full directory on your own including the first "/"?

[2022-07-16 17:20] vaulknerx77 commented on #281
Ah, first / seems to help point it to the right place! Now it does this
![Screen Shot 2022-07-16 at 1 19 24 PM](https://user-images.githubusercontent.com/109105982/179365405-c196fc3b-c5c6-4e6a-9fa4-eb66e56b9e88.png)

[2022-08-14 01:50] midorialexandros commented on #281
Had the same issue. The only way I got around it is to remove the spaces from the paths.

EDIT: however, I was only trying to install a single mod, and it shows it's installed 12 times. My assumption is that every time I saw the file being invalid, it was actually installing the mod.

[2022-08-14 01:53] midorialexandros opened #282 "Where is the modlist.cfg?"
Thank you for this tool! I've poured over the documentation several times and I am not seeing where modlist.cfg is located.
What is the file path to this so I can view the list of mods?

[2022-08-29 09:08] lillelilje commented on #282
Sorry about the late response. Life is busy recently.

Both ffmt config and the modlist should be here: `/home/username/.config/FFXIV_Modding_Tool/`